Repository nokeedev/gradle-native: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish (JBake Templates), publish (docs nightly)

.gitlab-ci.yml:

image: nokeedev/gcc-builder

build:
  stage: build
  script: ./gradlew assemble -PskipAllAsciinemaTasks --scan --continue
  artifacts:
    when: on_failure
    paths:
      - subprojects/docs/build/

test (macos):
  stage: test
  # FIXME: Shouldn't need to ignore the Asciinema tasks, they should just not be wired in for testing
  script: ./gradlew check --scan --continue -x :docs:compileDocsDot -PskipAllAsciinemaTasks -x :docs:compileDocsAsciicast
  variables:
    LANG: en_CA.UTF-8
  tags:
    - os=macos
  artifacts:
    when: on_failure
    paths:
      - subprojects/platform-jni/build
      - subprojects/docs/build

test (linux):
  stage: test
  # FIXME: Shouldn't need to ignore the Asciinema tasks, they should just not be wired in for testing
  script: ./gradlew check --scan --continue -x :docs:compileDocsDot -PskipAllAsciinemaTasks -x :docs:compileDocsAsciicast
  tags:
    - os=linux
  artifacts:
    when: on_failure
    paths:
      - subprojects/platform-jni/build
      - subprojects/docs/build

test (windows):
  stage: test
  # FIXME: Shouldn't need to ignore the Asciinema tasks, they should just not be wired in for testing
  script: cmd.exe /c "gradlew.bat check --scan --continue -x :docs:compileDocsDot -PskipAllAsciinemaTasks -x :docs:compileDocsAsciicast"
  tags:
    - os=windows
  variables:
    GIT_CLONE_PATH: $CI_BUILDS_DIR/gn
  artifacts:
    when: on_failure
    paths:
      - subprojects/platform-jni/build
      - subprojects/docs/build

deploy:
  stage: deploy
  script: ./gradlew --scan :distributions:publishToBintray
  only:
    - master


publish (JBake Templates):
  stage: build
  script:
    - ./gradlew --scan :docs:publishJbakePublicationToS3Repository
    - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/17545900/trigger/pipeline # docs.nokee.dev
    - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/16537594/trigger/pipeline # nokeedev.gitlab.io
  only:
    changes:
      - .gitlab-ci.yml
      - subprojects/docs/src/jbake/**/*
      - subprojects/docs/docs.gradle
      - gradle/plugins/docs-gradle-plugin/**/*
    refs:
      - master
  artifacts:
    when: on_failure
    paths:
      - subprojects/docs/build/**/*

publish (docs nightly):
  stage: build
  script:
    - ./gradlew --scan :docs:publishBakedPublicationToS3Repository
    - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/16537594/trigger/pipeline # nokeedev.gitlab.io
  only:
    changes:
      - .gitlab-ci.yml
      - subprojects/docs/**/*
      - subprojects/docs/docs.gradle
      - gradle/plugins/docs-gradle-plugin/**/*
    refs:
      - master
  artifacts:
    when: on_failure
    paths:
      - subprojects/docs/build/**/*

Track missing feature from toolbox
  subprojects/platform-base/platform-base.gradle
Due: none

Upgrade to toolbox 0.0.55
  gradle.properties
  gradle/plugins/docs-gradle-plugin/build.gradle
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
Due: publish (JBake Templates), publish (docs nightly)

Try to prevent hanging on Windows
  .gitlab-ci.yml
Due: publish (JBake Templates), publish (docs nightly)

Add debugging logs to sample tests
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish (docs nightly)

Use native tool when unzipping with TestFile
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish (docs nightly)

Fix misconfigured tool in sample
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish (docs nightly)

Update toolbox to version 0.0.56
  gradle.properties
  gradle/plugins/docs-gradle-plugin/build.gradle
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
Due: publish (JBake Templates), publish (docs nightly)

Add API for getting the header search path from the compile task
  subprojects/platform-native/src/main/java/dev/nokee/language/nativebase/HeaderSearchPath.java
  subprojects/platform-native/src/main/java/dev/nokee/language/nativebase/internal/DefaultHeaderSearchPath.java
  subprojects/platform-native/src/main/java/dev/nokee/language/nativebase/tasks/NativeSourceCompile.java
  subprojects/platform-native/src/main/java/dev/nokee/language/nativebase/tasks/internal/NativeSourceCompileTask.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
Due: none

Differ source calculation for iOS application bundle task
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/internal/plugins/IosApplicationPlugin.java
Due: none

Fix citation in Javadoc
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/XcodeIdeBuildSettings.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/XcodeIdeProject.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/XcodeIdeTarget.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/XcodeIdeWorkspace.java
Due: none

Add more conveninent API to the *View
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/BinaryView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/TaskView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultBinaryView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultTaskView.java
Due: none

Add API for the linked file on the linker task
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/tasks/LinkSharedLibrary.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/tasks/internal/LinkSharedLibraryTask.java
Due: none

Fix typo, refactor seems to have failed
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/XcodeIdeFixture.groovy
Due: none

Fix typos for Windows build
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/JniLibraryComposingXcodeFunctionalTest.groovy
  subprojects/ide-xcode/src/test/groovy/dev/nokee/ide/xcode/internal/plugins/XcodeIdePluginTest.groovy
Due: none

Ignore iOS Xcode IDE test on non macOS
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/IosApplicationXcodeFunctionalTest.groovy
Due: none

Upgrade toolbox to version 0.0.57
  gradle.properties
  gradle/plugins/docs-gradle-plugin/build.gradle
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
Due: publish (JBake Templates), publish (docs nightly)

Upgrade toolbox to version 0.0.58
  gradle.properties
  gradle/plugins/docs-gradle-plugin/build.gradle
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
Due: publish (JBake Templates), publish (docs nightly)

Disable daemon via JVM property
  .gitlab-ci.yml
Due: publish (JBake Templates), publish (docs nightly)

Sanity check the DSL documentation
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/dsl/docbook/AsciidoctorRenderer.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/dsl/docbook/HtmlToXmlJavadocLexer.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/dsl/docbook/JavadocConverter.java
  subprojects/distributions/distributions.gradle
  subprojects/docs/src/docs/dsl/dev.nokee.ide.xcode.XcodeIdeBuildConfiguration.json
  subprojects/docs/src/docs/dsl/dev.nokee.ide.xcode.XcodeIdeBuildSettings.json
  subprojects/docs/src/docs/dsl/dev.nokee.ide.xcode.XcodeIdeProductType.json
  subprojects/docs/src/docs/dsl/dev.nokee.ide.xcode.XcodeIdeProductTypes.json
  subprojects/docs/src/docs/dsl/dev.nokee.ide.xcode.XcodeIdeProject.json
  subprojects/docs/src/docs/dsl/dev.nokee.ide.xcode.XcodeIdeProjectExtension.json
  subprojects/docs/src/docs/dsl/dev.nokee.ide.xcode.XcodeIdeTarget.json
  subprojects/docs/src/docs/dsl/dev.nokee.ide.xcode.XcodeIdeWorkspace.json
  subprojects/docs/src/docs/dsl/dev.nokee.ide.xcode.XcodeIdeWorkspaceExtension.json
  subprojects/docs/src/docs/dsl/dev.nokee.platform.base.Binary.json
  subprojects/docs/src/docs/dsl/dev.nokee.platform.base.BinaryView.json
  subprojects/docs/src/docs/dsl/dev.nokee.platform.base.VariantView.json
  subprojects/docs/src/docs/dsl/dev.nokee.platform.jni.JarBinary.json
  subprojects/docs/src/docs/dsl/dev.nokee.platform.jni.JniJarBinary.json
  subprojects/docs/src/docs/dsl/dev.nokee.platform.jni.JniLibrary.json
  subprojects/docs/src/docs/dsl/dev.nokee.platform.jni.JniLibraryExtension.json
  subprojects/docs/src/docs/dsl/dev.nokee.platform.jni.JvmJarBinary.json
  subprojects/docs/src/docs/dsl/dsl.template
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/XcodeIdeProductType.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/XcodeIdeProductTypes.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/XcodeIdeProject.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/XcodeIdeWorkspace.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/BinaryView.java
Due: publish (JBake Templates), publish (docs nightly)

Restore Value capability of XcodeIdeProductType
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/XcodeIdeProductType.java
Due: none

Fix CI failure
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/XcodeIdeProductType.java
Due: none

Try using GRADLE_OPTS for closing all spawn daemon which hangs the build
  .gitlab-ci.yml
Due: publish (JBake Templates), publish (docs nightly)

Remove daemon forking message
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish (docs nightly)

Expose the linkedFile property on the DSL
  subprojects/docs/src/docs/dsl/dev.nokee.platform.nativebase.tasks.LinkSharedLibrary.json
Due: publish (docs nightly)

Rename iOS application plugin to include the implementation language
  subprojects/docs/src/docs/dsl/plugins.xml
  subprojects/docs/src/docs/samples/objective-c-ios-application/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/objective-c-ios-application/kotlin-dsl/build.gradle.kts
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/IosApplicationXcodeFunctionalTest.groovy
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdeObjectiveCIosApplicationPlugin.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdePlugin.java
  subprojects/platform-ios/platform-ios.gradle
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/BasicIosApplicationFunctionalTest.groovy
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/internal/plugins/IosApplicationRules.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/internal/plugins/ObjectiveCIosApplicationPlugin.java
  subprojects/platform-ios/src/test/groovy/dev/nokee/platform/ios/internal/plugins/ObjectiveCIosApplicationPluginTest.groovy
Due: publish (docs nightly)

Add README to the project
  README.adoc
  nokee.png
Due: none

Author iOS application plugin reference chapter
  subprojects/docs/src/docs/manual/objective-c-ios-application-plugin.adoc
Due: publish (docs nightly)

Adjust iOS application configuration to allow launching the app from Xcode
  subprojects/docs/src/docs/samples/objective-c-ios-application/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/objective-c-ios-application/kotlin-dsl/build.gradle.kts
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/internal/plugins/IosApplicationRules.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/tasks/internal/AssetCatalogCompileTask.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/tasks/internal/ProcessPropertyListTask.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/tasks/internal/StoryboardCompileTask.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/tasks/internal/StoryboardLinkTask.java
Due: publish (docs nightly)

Add label to main screen of sample
  subprojects/templates/src/main/groovy/dev/nokee/platform/ios/fixtures/ObjectiveCIosApp.groovy
Due: none

Author Xcode IDE plugin reference chapter
  subprojects/docs/src/docs/manual/xcode-ide-plugin.adoc
Due: publish (docs nightly)

Generate PkgInfo file inside application bundle
  subprojects/docs/src/docs/samples/objective-c-ios-application/README.adoc
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/BasicIosApplicationFunctionalTest.groovy
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/tasks/internal/CreateIosApplicationBundleTask.java
Due: publish (docs nightly)

Add Xcode IDE composing sample
  subprojects/docs/docs.gradle
  subprojects/docs/src/docs/samples/xcode-ide-composing/README.adoc
  subprojects/docs/src/docs/samples/xcode-ide-composing/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/xcode-ide-composing/groovy-dsl/settings.gradle
  subprojects/docs/src/docs/samples/xcode-ide-composing/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/xcode-ide-composing/kotlin-dsl/settings.gradle.kts
  subprojects/docs/src/docs/samples/xcode-ide-composing/xcode-ide-build-action.gif
  subprojects/docs/src/docs/samples/xcode-ide-composing/xcode-ide-indexing.gif
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/ide/XcodeIdeComposingSampleTest.groovy
Due: publish (JBake Templates), publish (docs nightly)

Include all new chapters to the navigation bar
  subprojects/docs/src/jbake/templates/fragment-docs-navigation.gsp
Due: publish (JBake Templates), publish (docs nightly)

Ensure sucessive build can be done from Xcode
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/IosApplicationXcodeFunctionalTest.groovy
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/tasks/SyncXcodeIdeProduct.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/tasks/internal/CreateIosApplicationBundleTask.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/tasks/internal/SignIosApplicationBundleTask.java
Due: none

Author developing with Xcode IDE chapter
  subprojects/docs/src/docs/manual/developing-with-xcode-ide.adoc
  subprojects/docs/src/docs/manual/img/xcode-ide-bridge-tasks.png
  subprojects/docs/src/docs/manual/img/xcode-ide-bridging-task.png
  subprojects/docs/src/docs/manual/img/xcode-ide-build-files.png
  subprojects/docs/src/docs/manual/img/xcode-ide-build-settings.png
  subprojects/docs/src/docs/manual/img/xcode-ide-delegate-target.png
  subprojects/docs/src/docs/manual/img/xcode-ide-indexer-target.png
  subprojects/docs/src/docs/manual/img/xcode-ide-source-layout.png
  subprojects/docs/src/docs/manual/img/xcode-ide-task-graph.dot
Due: publish (docs nightly)

Include new plugins in reference index
  subprojects/docs/src/docs/manual/plugin-references.adoc
Due: publish (docs nightly)

Draft/author building JNI projects chapter
  subprojects/docs/src/docs/manual/building-jni-projects.adoc
  subprojects/docs/src/docs/manual/img/building-jni-projects-build-overview.dot
  subprojects/docs/src/docs/manual/img/building-jni-projects-overview-highlight-binaries.dot
  subprojects/docs/src/docs/manual/img/building-jni-projects-overview-highlight-extension.dot
  subprojects/docs/src/docs/manual/img/building-jni-projects-overview-highlight-variants.dot
  subprojects/docs/src/docs/manual/img/building-jni-projects-overview.dot
  subprojects/docs/src/docs/manual/img/jni-library-plugin-triplet.dot
Due: publish (docs nightly)

Uncomment line for higher resolution of JNI library task graph
  subprojects/docs/src/docs/manual/img/jni-library-task-graph.dot
Due: publish (docs nightly)
