Repository big-guy/gradle-native: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish jbakes, publish baked

.gitlab-ci.yml:

image: nokeedev/generic-builder

build:
  stage: build
  script: gradle assemble -x :docs:generateSamplesAsciinema -x :docs:compileDocsAsciicast
  artifacts:
    when: on_failure
    paths:
      - subprojects/docs/build/

test:
  stage: test
  script: ./gradlew check --continue
  artifacts:
    when: on_failure
    paths:
      - subprojects/platformJni/build/tmp/test files
      - subprojects/platformJni/build/reports/tests
      - subprojects/docs/build/rmp/test files
      - subprojects/docs/build/reports/tests

deploy:
  stage: deploy
  script: gradle bintrayUpload
  only:
    - master


publish jbakes:
  stage: build
  script:
    - gradle :docs:publishJbakePublicationToS3Repository
    - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/17545900/trigger/pipeline # docs.nokee.dev
    - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/16537594/trigger/pipeline # nokeedev.gitlab.io
  only:
    changes:
      - .gitlab-ci.yml
      - subprojects/docs/src/jbake/**/*
      - subprojects/docs/docs.gradle
      - gradle/plugins/docs-gradle-plugin
    refs:
      - master

publish baked:
  stage: build
  script:
    - gradle :docs:publishBakedPublicationToS3Repository
    - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/16537594/trigger/pipeline # nokeedev.gitlab.io
  only:
    changes:
      - .gitlab-ci.yml
      - subprojects/docs/**/*
      - subprojects/docs/docs.gradle
      - gradle/plugins/docs-gradle-plugin
    refs:
      - master

Fix PIC configuration
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaApplicationWithJavaCppJniLibraryDependenciesFunctionalTest.groovy
Due: none

Configure JNI shared binaries as PIC
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
Due: none

Use static library for dependencies
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaApplicationWithJavaCppJniLibraryDependenciesFunctionalTest.groovy
Due: none

Search and select a toolchain during sample testing
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish baked

Testing with verbose flag
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaApplicationWithJavaCppJniLibraryDependenciesFunctionalTest.groovy
Due: none

Fix x86/x64 test
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractTargetMachinesFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JniLibraryTargetMachinesFunctionalTest.groovy
Due: none

Tries to build static library with PIC
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaApplicationWithJavaCppJniLibraryDependenciesFunctionalTest.groovy
Due: none

Use version 0.0.25 for plugin development
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
Due: none

Use the default detected toolchain for sample testing
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish baked

Avoid executing Asciidoctor commands on wrong OS
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/Command.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/CommandDiscovery.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/OnlyIfCondition.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish baked

WIP
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/OnlyIfCondition.java
Due: publish baked

Limit the scope of only-if commands
  subprojects/docs/src/docs/samples/jni-library-with-resource-path/README.adoc
  subprojects/docs/src/docs/samples/jni-library-with-target-machines/README.adoc
Due: publish baked

Support null object
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/CommandDiscovery.java
Due: publish baked

Improve the output checking for unzip
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish baked

Fix failures
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish baked

Use Antlr to parse Unzip command output
  subprojects/docs/docs.gradle
  subprojects/docs/src/docsTest/antlr/Unzip.g4
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/UnzipCommandHelper.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish jbakes, publish baked

Assume commands to execute
  subprojects/docs/docs.gradle
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish jbakes, publish baked

More fixes
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish baked

Wip
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish baked

WIP
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish baked

Fix linux failures
  subprojects/docs/src/docs/samples/jni-library-composing/groovy-dsl/cpp-jni-greeter/build.gradle
  subprojects/docs/src/docs/samples/jni-library-composing/kotlin-dsl/cpp-jni-greeter/build.gradle.kts
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish baked

WIP
  subprojects/docs/src/docs/samples/jni-library-composing/kotlin-dsl/cpp-jni-greeter/build.gradle.kts
Due: publish baked

WIPDF
  subprojects/docs/src/docs/samples/jni-library-composing/groovy-dsl/cpp-greeter/build.gradle
  subprojects/docs/src/docs/samples/jni-library-composing/kotlin-dsl/cpp-greeter/build.gradle.kts
Due: publish baked

WIDFFD
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaApplicationWithNoLanguageJniLibraryDependenciesFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JniLibraryFunctionalTest.groovy
Due: none

Fix failures
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaApplicationWithJavaCppJniLibraryDependenciesFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaCppJniLibraryDependenciesFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JniLibraryTargetMachinesFunctionalTest.groovy
Due: none

Dfd
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JniLibraryTargetMachinesFunctionalTest.groovy
Due: none

More fixes
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractTargetMachinesFunctionalTest.groovy
Due: none

Add assemble tasks
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractTargetMachinesFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JniLibraryTargetMachinesFunctionalTest.groovy
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryInternal.java
Due: none

Introduce assemble task per variant
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
Due: none

Attach JVM Jar to variant assemble JAR
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Fix failure
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Another fix
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Enable asciinema
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/DocumentationPlugin.java
Due: none

Try a bit more
  gradle/plugins/docs-gradle-plugin/build.gradle
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/tasks/CreateAsciinema.java
Due: none

Tool chain detection
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/plugins/DomainKnowledgeToolchainsRules.java
Due: none

Use the wrapper everywhere
  .gitlab-ci.yml
  gradle/wrapper/gradle-wrapper.properties
Due: publish jbakes, publish baked

Add support to locate GCC 8
  subprojects/platform-jni/src/main/java/dev/nokee/language/c/internal/plugins/CLanguagePlugin.java
  subprojects/platform-jni/src/main/java/dev/nokee/language/cpp/internal/plugins/CppLanguagePlugin.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/plugins/DomainKnowledgeToolchainsRules.java
Due: none

Enable Asciinema Git generation
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/DocumentationPlugin.java
Due: none

Ignore Asciinema tasks for testing
  .gitlab-ci.yml
Due: publish jbakes, publish baked
