Repository nokeedev/gradle-native: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish (JBake Templates), publish (docs nightly)

publish (JBake Templates):
  stage: build
  script:
  - ./gradlew --scan :docs:publishJbakePublicationToS3Repository
  - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/17545900/trigger/pipeline
  ...

publish (docs nightly):
  stage: build
  script:
  - ./gradlew --scan :docs:publishBakedPublicationToS3Repository
  - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/16537594/trigger/pipeline
  artifacts:
    when: on_failure
    paths:
    - subprojects/docs/build/**/*

Fix validate plugins task failures
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/tasks/internal/StoryboardCompileTask.java
Due: none

Add missing sample test for framework dependencies
  subprojects/docs/src/docs/samples/jni-library-with-framework-dependencies/README.adoc
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JniLibraryWithFrameworkDependenciesSampleTest.groovy
Due: publish (docs nightly)

Attempt to remove as much deprecation warning from the build
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/DocumentationPlugin.java
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/tasks/AsciicastCompile.java
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/tasks/CreateEmbeddedPlayer.java
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/tasks/DotCompile.java
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/tasks/ExtractScreenshot.java
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/tasks/GenerateSamplesContentTask.java
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/tasks/GifCompile.java
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/tasks/ProcessAsciidoctor.java
Due: publish (JBake Templates), publish (docs nightly)

Limit the number of worker on CI for documentation build
  .gitlab-ci.yml
Due: publish (JBake Templates), publish (docs nightly)

Ensure CreateAsciinema task only depends on jar files as inputs
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/tasks/CreateAsciinema.java
Due: publish (JBake Templates), publish (docs nightly)

Try to quiet down ffmpeg logs
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/tasks/GifCompile.java
Due: publish (JBake Templates), publish (docs nightly)

Fix typo
  subprojects/docs/src/docs/release-notes.adoc
Due: publish (docs nightly)

Set duplicated strategy to INCLUDE
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/DocumentationPlugin.java
Due: publish (JBake Templates), publish (docs nightly)

Use Gradle property for antlr version
  gradle.properties
  subprojects/docs/docs.gradle
Due: publish (JBake Templates), publish (docs nightly)

Ignore framework test on Windows and Linux
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JniLibraryWithFrameworkDependenciesSampleTest.groovy
Due: publish (docs nightly)

Remove leading whitespace from comment
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/JniLibrary.java
Due: none

Ignore Objective-C test on non-GCC and Windows
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCJniLibrarySharedLibraryConfigurationFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCppJniLibrarySharedLibraryConfigurationFunctionalTest.groovy
Due: none

Disable more tasks when skipping Asciinema tasks
  subprojects/docs/docs.gradle
Due: publish (JBake Templates), publish (docs nightly)

Properly merge all Javadoc together
  subprojects/distributions/distributions.gradle
  subprojects/docs/docs.gradle
Due: publish (JBake Templates), publish (docs nightly)

Reenable baked tasks
  .gitlab-ci.yml
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/BakedHtmlFixture.java
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlLinkTester.java
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlTag.java
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlTagFixture.java
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlTestFixture.java
  subprojects/docs/src/docs/manual/jni-library-plugin.adoc
  subprojects/docs/src/docs/release-notes.adoc
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/BrokenLinksTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/ProperBakedHtmlTest.groovy
Due: publish (JBake Templates), publish (docs nightly)

Limit framework sample to macOS
  subprojects/docs/src/docs/samples/jni-library-with-framework-dependencies/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/jni-library-with-framework-dependencies/kotlin-dsl/build.gradle.kts
Due: publish (docs nightly)

Skip all iOS test on Windows or Linux
  subprojects/platform-ios/src/test/groovy/dev/nokee/platform/ios/internal/plugins/IosApplicationPluginTest.groovy
Due: none

Prepare version 0.3
  version.txt
Due: none

Fix framework sample for Kotlin DSL
  subprojects/docs/src/docs/samples/jni-library-with-framework-dependencies/kotlin-dsl/build.gradle.kts
Due: publish (docs nightly)

Add package-info.java files to declare package as Nonnull
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/package-info.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/package-info.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/package-info.java
Due: none

Remove warnings around Jar output parser
  subprojects/docs/src/docsTest/antlr/Jar.g4
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/JarCommandHelper.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish (docs nightly)

Add convenient APIs for JNI library support
  subprojects/docs/docs.gradle
  subprojects/docs/src/docs/samples/jni-library-as-uber-jar/README.adoc
  subprojects/docs/src/docs/samples/jni-library-as-uber-jar/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/jni-library-as-uber-jar/groovy-dsl/settings.gradle
  subprojects/docs/src/docs/samples/jni-library-as-uber-jar/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/jni-library-as-uber-jar/kotlin-dsl/settings.gradle.kts
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JniLibraryAsUberJarSampleTest.groovy
  subprojects/platform-base/platform-base.gradle
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/Binary.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/BinaryView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/TaskView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/VariantView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/BinaryInternal.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultBinaryView.java
  subprojects/platform-jni/platform-jni.gradle
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractJavaJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JniLibraryTargetMachinesFunctionalTest.groovy
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/JarBinary.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/JniJarBinary.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/JniLibrary.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/JniLibraryExtension.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/JvmJarBinary.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/AbstractJarBinary.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/DefaultJniJarBinary.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/DefaultJvmJarBinary.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryExtensionInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/SharedLibraryBinary.java
Due: publish (JBake Templates), publish (docs nightly)

Fix various shortcoming of the framework dependency sample
  subprojects/docs/docs.gradle
  subprojects/docs/src/docs/samples/jni-library-with-framework-dependencies/README.adoc
  subprojects/docs/src/docs/samples/jni-library-with-framework-dependencies/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/jni-library-with-framework-dependencies/kotlin-dsl/build.gradle.kts
Due: publish (JBake Templates), publish (docs nightly)

Add info log to the flaky docs step
  .gitlab-ci.yml
Due: publish (JBake Templates), publish (docs nightly)

Ensure breadcrumbs for DSL docs is properly tested
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlTestFixture.java
Due: publish (JBake Templates), publish (docs nightly)

Ignore paths for javax.annotation.Nonnull
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/BrokenLinksTest.groovy
Due: publish (docs nightly)

Tries to limit the number of threads used by ffmpeg
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/tasks/GifCompile.java
Due: publish (JBake Templates), publish (docs nightly)

Move doc pipeline to baremetal
  .gitlab-ci.yml
Due: publish (JBake Templates), publish (docs nightly)

Fix typo in CI configuration
  .gitlab-ci.yml
Due: publish (JBake Templates), publish (docs nightly)

Fix assemble lifecycle dependency for multiple target
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryInternal.java
Due: none

Ensure Windows sample build a comparable build
  subprojects/docs/src/docs/samples/jni-library-as-uber-jar/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/jni-library-as-uber-jar/kotlin-dsl/build.gradle.kts
Due: publish (docs nightly)

Fix typo in samples
  subprojects/docs/src/docs/samples/jni-library-as-uber-jar/README.adoc
  subprojects/docs/src/docs/samples/jni-library-with-framework-dependencies/README.adoc
Due: publish (docs nightly)

Update to toolbox 0.0.52
  gradle.properties
  gradle/plugins/docs-gradle-plugin/build.gradle
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
Due: publish (JBake Templates), publish (docs nightly)

Migrate TestFile#unzipTo usage and moved classes
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaApplicationWithJavaCppJniLibraryDependenciesFunctionalTest.groovy
Due: publish (docs nightly)

Migrate to the new toolbox conveniences
  subprojects/docs/docs.gradle
  subprojects/platform-ios/platform-ios.gradle
  subprojects/platform-jni/platform-jni.gradle
  subprojects/platform-native/platform-native.gradle
Due: publish (JBake Templates), publish (docs nightly)

Delete the generated sample directory to avoid stale outputs
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/Sample.java
Due: publish (JBake Templates), publish (docs nightly)

Move Javadoc configuration of all subproject into root project
  build.gradle
  subprojects/distributions/distributions.gradle
  subprojects/platform-jni/platform-jni.gradle
Due: none

Move Gradle plugin configuration into root project
  build.gradle
  subprojects/language-native/language-native.gradle
  subprojects/platform-jni/platform-jni.gradle
  subprojects/platform-native/platform-native.gradle
Due: none

Path conditions:
  publish (JBake Templates): any of: .gitlab-ci.yml, subprojects/docs/src/jbake/**/*, subprojects/docs/docs.gradle, gradle/plugins/docs-gradle-plugin/**/*
  publish (docs nightly): any of: .gitlab-ci.yml, subprojects/docs/**/*, subprojects/docs/docs.gradle, gradle/plugins/docs-gradle-plugin/**/*
