Repository nokeedev/gradle-native: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish (JBake Templates), publish (docs nightly)

publish (JBake Templates):
  stage: build
  script:
  - ./gradlew --scan :docs:publishJbakePublicationToS3Repository
  - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/17545900/trigger/pipeline
  ...

publish (docs nightly):
  stage: build
  script:
  - ./gradlew --scan :docs:publishBakedPublicationToS3Repository
  - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/16537594/trigger/pipeline
  artifacts:
    when: on_failure
    paths:
    - subprojects/docs/build/**/*

Fix test failure around explicit SDK change
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/repositories/ConsumingFrameworkFunctionalTest.groovy
Due: none

Fix typo in anchor and links
  subprojects/docs/src/docs/manual/plugin-anatomy.adoc
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
  subprojects/platform-jni/src/test/groovy/dev/nokee/platform/jni/internal/plugins/JniLibraryPluginTest.groovy
Due: publish (docs nightly)

Add missing chapters for Nokee plugins to documentation links
  subprojects/docs/src/docs/manual/incompatible-plugins.adoc
  subprojects/docs/src/docs/manual/migrating-from-core-plugins.adoc
  subprojects/docs/src/docs/manual/migrating-from-software-model.adoc
Due: publish (docs nightly)

Move compile configuration from SharedLibraryBinaryInternal to NativeSourceSetTransform
  subprojects/platform-native/src/main/java/dev/nokee/language/nativebase/internal/NativeSourceSetTransform.java
Due: none

Fix language transform instantiation
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Revert regression and try to properly fix unit test on Windows
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
  subprojects/platform-native/src/testFixtures/groovy/dev/nokee/fixtures/NativeServicesTestFixture.java
  subprojects/platform-native/src/testFixtures/groovy/dev/nokee/fixtures/ProjectTestFixture.groovy
Due: none

Fix up some test that IntelliJ screw up with
  subprojects/platform-native/src/test/groovy/dev/nokee/platform/nativebase/DefaultMachineArchitectureTest.groovy
Due: none

Implement and add test coverage for component dependencies
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/internal/plugins/ObjectiveCIosApplicationPlugin.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/internal/plugins/ObjectiveCIosLibraryPlugin.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/internal/plugins/SwiftIosApplicationPlugin.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/internal/plugins/SwiftIosLibraryPlugin.java
  subprojects/platform-jni/platform-jni.gradle
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/JniLibraryDependencies.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/JniLibraryNativeDependencies.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryDependenciesInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryNativeDependenciesInternal.java
  subprojects/platform-jni/src/test/groovy/dev/nokee/platform/jni/internal/JniLibraryDependenciesInternalTest.groovy
  subprojects/platform-jni/src/test/groovy/dev/nokee/platform/jni/internal/JniLibraryNativeDependenciesInternalTest.groovy
  subprojects/platform-native/platform-native.gradle
  subprojects/platform-native/src/main/java/dev/nokee/platform/c/internal/plugins/CApplicationPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/c/internal/plugins/CLibraryPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/cpp/internal/plugins/CppApplicationPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/cpp/internal/plugins/CppLibraryPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/NativeComponentDependencies.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/NativeLibraryDependencies.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/DefaultDependencyBucket.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/DefaultNativeComponentDependencies.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/DefaultNativeLibraryDependencies.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/DependencyBucket.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/NativeDependencyBucket.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/objectivec/internal/plugins/ObjectiveCApplicationPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/objectivec/internal/plugins/ObjectiveCLibraryPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/objectivecpp/internal/plugins/ObjectiveCppApplicationPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/objectivecpp/internal/plugins/ObjectiveCppLibraryPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/swift/internal/plugins/SwiftApplicationPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/swift/internal/plugins/SwiftLibraryPlugin.java
  subprojects/platform-native/src/test/groovy/dev/nokee/platform/nativebase/DefaultNativeComponentDependenciesTest.groovy
  subprojects/platform-native/src/test/groovy/dev/nokee/platform/nativebase/DefaultNativeLibraryDependenciesTest.groovy
  subprojects/platform-native/src/testFixtures/groovy/dev/nokee/fixtures/AbstractComponentDependenciesTest.groovy
  subprojects/platform-native/src/testFixtures/groovy/dev/nokee/fixtures/CollectionTestFixture.java
Due: none

Use ModuleDependency instead of a generic
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/JniLibraryDependencies.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/JniLibraryNativeDependencies.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryDependenciesInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryNativeDependenciesInternal.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/NativeComponentDependencies.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/NativeLibraryDependencies.java
  subprojects/platform-native/src/main/java/dev/nokee/runtime/nativebase/internal/DefaultNativeComponentDependencies.java
  subprojects/platform-native/src/main/java/dev/nokee/runtime/nativebase/internal/DefaultNativeLibraryDependencies.java
Due: none

Cleanup JNI library code
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Fix CI failure around changes for Windows
  subprojects/platform-jni/platform-jni.gradle
  subprojects/platform-native/src/testFixtures/groovy/dev/nokee/fixtures/AbstractPluginTest.groovy
Due: none

Initialize native service on Windows
  subprojects/platform-jni/src/test/groovy/dev/nokee/platform/jni/internal/plugins/JniLibraryPluginTest.groovy
  subprojects/platform-native/platform-native.gradle
  subprojects/platform-native/src/testFixtures/groovy/dev/nokee/fixtures/AbstractPluginTest.groovy
  subprojects/platform-native/src/testFixtures/groovy/dev/nokee/fixtures/ProjectTestFixture.groovy
Due: none

Introduce native runtime files API to allow easy prebuilt binaries
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/JniLibrary.java
Due: none

Update published version
  README.adoc
Due: none

Support for single directory or files during parsing of Tree command
  subprojects/docs/src/docsTest/antlr/Tree.g4
Due: publish (docs nightly)

Fix link typos
  subprojects/docs/src/docs/manual/building-native-projects.adoc
  subprojects/docs/src/docs/manual/plugin-reference-elements/section-tasks.adoc
Due: publish (docs nightly)

Add support for additional data inside DSL json data
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/dsl/docbook/DslDocModel.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/dsl/docbook/model/ClassDoc.java
  subprojects/docs/src/docs/dsl/dev.nokee.runtime.nativebase.MachineArchitecture.json
  subprojects/docs/src/docs/dsl/dev.nokee.runtime.nativebase.OperatingSystemFamily.json
  subprojects/docs/src/docs/dsl/dev.nokee.runtime.nativebase.TargetMachine.json
  subprojects/language-native/src/main/java/dev/nokee/language/swift/tasks/SwiftCompile.java
Due: publish (JBake Templates), publish (docs nightly)

Cache the asciidoctor model between tests
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/SampleContentFixture.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JavaCJniLibrarySampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JavaCppJniLibrarySampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JavaObjectiveCJniLibrarySampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JavaObjectiveCppJniLibrarySampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JniLibraryAsUberJarSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JniLibraryComposingSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JniLibraryWithJUnitTestSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JniLibraryWithResourcePathSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JniLibraryWithTargetMachinesSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JvmApplicationWithJniLibrarySampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/KotlinCppJniLibrarySampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/PublishJniLibrarySampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/PublishJniLibraryWithTargetMachinesSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish (docs nightly)

Change the documentation to reflect the change that will be delivered with 0.4
  subprojects/docs/src/docs/manual/building-jni-projects.adoc
Due: publish (docs nightly)

Add sample for pre-built binaries
  subprojects/docs/docs.gradle
  subprojects/docs/src/docs/manual/building-jni-projects.adoc
  subprojects/docs/src/docs/samples/jni-library-with-pre-built-binaries/README.adoc
  subprojects/docs/src/docs/samples/jni-library-with-pre-built-binaries/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/jni-library-with-pre-built-binaries/groovy-dsl/pre-built-library/placeholder.txt
  subprojects/docs/src/docs/samples/jni-library-with-pre-built-binaries/groovy-dsl/settings.gradle
  subprojects/docs/src/docs/samples/jni-library-with-pre-built-binaries/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/jni-library-with-pre-built-binaries/kotlin-dsl/pre-built-library/placeholder.txt
  subprojects/docs/src/docs/samples/jni-library-with-pre-built-binaries/kotlin-dsl/settings.gradle.kts
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JniLibraryWithPrebuiltBinaries.groovy
Due: publish (JBake Templates), publish (docs nightly)

Fix typo in documentation path
  subprojects/docs/src/docs/manual/building-jni-projects.adoc
Due: publish (docs nightly)

Use the correct documentation type
  subprojects/docs/src/docs/manual/incompatible-plugins.adoc
Due: publish (docs nightly)

Early plan for the release notes
  subprojects/docs/src/docs/release-notes.adoc
Due: publish (docs nightly)

Use the correct documentation type
  subprojects/docs/src/docs/manual/migrating-from-core-plugins.adoc
  subprojects/docs/src/docs/manual/migrating-from-software-model.adoc
Due: publish (docs nightly)

Unify JUnit test composition among JNI library templates
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniCGreeterLib.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniCppGreeterLib.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniObjectiveCGreeterLib.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniObjectiveCppGreeterLib.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/KotlinJniCppGreeterLib.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/elements/JniLibraryElement.java
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/elements/TestableJniLibraryElement.java
Due: none

Improve the pre-built binary sample
  subprojects/docs/src/docs/samples/jni-library-with-pre-built-binaries/README.adoc
  subprojects/docs/src/docs/samples/jni-library-with-pre-built-binaries/groovy-dsl/build.gradle
Due: publish (docs nightly)

Warn when native runtime files does not exists when building JNI JAR
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Rename JNI library composing from source
  subprojects/docs/docs.gradle
  subprojects/docs/src/docs/manual/building-jni-projects.adoc
  subprojects/docs/src/docs/samples/jni-library-composing-from-source/README.adoc
  subprojects/docs/src/docs/samples/jni-library-composing-from-source/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/jni-library-composing-from-source/groovy-dsl/cpp-greeter/build.gradle
  subprojects/docs/src/docs/samples/jni-library-composing-from-source/groovy-dsl/cpp-jni-greeter/build.gradle
  subprojects/docs/src/docs/samples/jni-library-composing-from-source/groovy-dsl/java-jni-greeter/build.gradle
  subprojects/docs/src/docs/samples/jni-library-composing-from-source/groovy-dsl/java-loader/build.gradle
  subprojects/docs/src/docs/samples/jni-library-composing-from-source/groovy-dsl/settings.gradle
  subprojects/docs/src/docs/samples/jni-library-composing-from-source/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/jni-library-composing-from-source/kotlin-dsl/cpp-greeter/build.gradle.kts
  subprojects/docs/src/docs/samples/jni-library-composing-from-source/kotlin-dsl/cpp-jni-greeter/build.gradle.kts
  subprojects/docs/src/docs/samples/jni-library-composing-from-source/kotlin-dsl/java-jni-greeter/build.gradle.kts
  subprojects/docs/src/docs/samples/jni-library-composing-from-source/kotlin-dsl/java-loader/build.gradle.kts
  subprojects/docs/src/docs/samples/jni-library-composing-from-source/kotlin-dsl/settings.gradle.kts
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JniLibraryComposingFromSourceSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JniLibraryComposingSampleTest.groovy
Due: publish (JBake Templates), publish (docs nightly)

Print the working directory during sample testing
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish (docs nightly)

Add JNI library composing from pre-built binaries sample
  subprojects/docs/docs.gradle
  subprojects/docs/src/docs/samples/jni-library-composing-from-pre-built-binaries/README.adoc
  subprojects/docs/src/docs/samples/jni-library-composing-from-pre-built-binaries/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/jni-library-composing-from-pre-built-binaries/groovy-dsl/pre-built-libraries/linux/libjni-greeter.so
  subprojects/docs/src/docs/samples/jni-library-composing-from-pre-built-binaries/groovy-dsl/pre-built-libraries/macos/libjni-greeter.dylib
  subprojects/docs/src/docs/samples/jni-library-composing-from-pre-built-binaries/groovy-dsl/pre-built-libraries/windows/jni-greeter.dll
  subprojects/docs/src/docs/samples/jni-library-composing-from-pre-built-binaries/groovy-dsl/settings.gradle
  subprojects/docs/src/docs/samples/jni-library-composing-from-pre-built-binaries/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/jni-library-composing-from-pre-built-binaries/kotlin-dsl/pre-built-libraries/linux/libjni-greeter.so
  subprojects/docs/src/docs/samples/jni-library-composing-from-pre-built-binaries/kotlin-dsl/pre-built-libraries/macos/libjni-greeter.dylib
  subprojects/docs/src/docs/samples/jni-library-composing-from-pre-built-binaries/kotlin-dsl/pre-built-libraries/windows/jni-greeter.dll
  subprojects/docs/src/docs/samples/jni-library-composing-from-pre-built-binaries/kotlin-dsl/settings.gradle.kts
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JniLibraryComposingFromPrebuiltBinariesSampleTest.groovy
Due: publish (JBake Templates), publish (docs nightly)

Use public API when building the `java.library.path` for testing
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Properly include build scripts in asciidoctor
  subprojects/docs/src/docs/samples/jni-library-composing-from-pre-built-binaries/README.adoc
  subprojects/docs/src/docs/samples/jni-library-with-pre-built-binaries/README.adoc
Due: publish (docs nightly)

Move JNI sample tests to its own package
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/jni/JavaCJniLibrarySampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/jni/JavaCppJniLibrarySampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/jni/JavaObjectiveCJniLibrarySampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/jni/JavaObjectiveCppJniLibrarySampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/jni/JniLibraryAsUberJarSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/jni/JniLibraryComposingFromPrebuiltBinariesSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/jni/JniLibraryComposingFromSourceSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/jni/JniLibraryWithFrameworkDependenciesSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/jni/JniLibraryWithJUnitTestSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/jni/JniLibraryWithPrebuiltBinaries.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/jni/JniLibraryWithResourcePathSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/jni/JniLibraryWithTargetMachinesSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/jni/JvmApplicationWithJniLibrarySampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/jni/KotlinCppJniLibrarySampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/jni/PublishJniLibrarySampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/jni/PublishJniLibraryWithTargetMachinesSampleTest.groovy
Due: publish (docs nightly)

Path conditions:
  publish (JBake Templates): any of: .gitlab-ci.yml, subprojects/docs/src/jbake/**/*, subprojects/docs/docs.gradle, gradle/plugins/docs-gradle-plugin/**/*
  publish (docs nightly): any of: .gitlab-ci.yml, subprojects/docs/**/*, subprojects/docs/docs.gradle, gradle/plugins/docs-gradle-plugin/**/*
