Repository nokeedev/gradle-native: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish (JBake Templates), publish (docs nightly)

.gitlab-ci.yml:

image: nokeedev/gcc-builder

build:
  stage: build
  script: ./gradlew assemble -PskipAllAsciinemaTasks --scan --continue
  artifacts:
    when: on_failure
    paths:
      - subprojects/docs/build/

test (macos):
  stage: test
  # FIXME: Shouldn't need to ignore the Asciinema tasks, they should just not be wired in for testing
  script: ./gradlew check --scan --continue -x :docs:compileDocsDot -PskipAllAsciinemaTasks -x :docs:compileDocsAsciicast
  variables:
    LANG: en_CA.UTF-8
  tags:
    - os=macos
  artifacts:
    when: on_failure
    paths:
      - subprojects/platform-jni/build
      - subprojects/docs/build

test (linux):
  stage: test
  # FIXME: Shouldn't need to ignore the Asciinema tasks, they should just not be wired in for testing
  script: ./gradlew check --scan --continue -x :docs:compileDocsDot -PskipAllAsciinemaTasks -x :docs:compileDocsAsciicast
  tags:
    - os=linux
  artifacts:
    when: on_failure
    paths:
      - subprojects/platform-jni/build
      - subprojects/docs/build

test (windows):
  stage: test
  # FIXME: Shouldn't need to ignore the Asciinema tasks, they should just not be wired in for testing
  script: cmd.exe /c "gradlew.bat check --scan --continue -x :docs:compileDocsDot -PskipAllAsciinemaTasks -x :docs:compileDocsAsciicast"
  tags:
    - os=windows
  variables:
    GIT_CLONE_PATH: $CI_BUILDS_DIR/gn
  artifacts:
    when: on_failure
    paths:
      - subprojects/platform-jni/build
      - subprojects/docs/build

deploy:
  stage: deploy
  script: ./gradlew --scan :distributions:publishToBintray
  only:
    - master


publish (JBake Templates):
  stage: build
  script:
    - ./gradlew --scan :docs:publishJbakePublicationToS3Repository
    - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/17545900/trigger/pipeline # docs.nokee.dev
    - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/16537594/trigger/pipeline # nokeedev.gitlab.io
  only:
    changes:
      - .gitlab-ci.yml
      - subprojects/docs/src/jbake/**/*
      - subprojects/docs/docs.gradle
      - gradle/plugins/docs-gradle-plugin/**/*
    refs:
      - master
  artifacts:
    when: on_failure
    paths:
      - subprojects/docs/build/**/*

publish (docs nightly):
  stage: build
  script:
    - ./gradlew --scan :docs:publishBakedPublicationToS3Repository
    - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/16537594/trigger/pipeline # nokeedev.gitlab.io
  only:
    changes:
      - .gitlab-ci.yml
      - subprojects/docs/**/*
      - subprojects/docs/docs.gradle
      - gradle/plugins/docs-gradle-plugin/**/*
    refs:
      - master
  artifacts:
    when: on_failure
    paths:
      - subprojects/docs/build/**/*

Prevent deprecation warning
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/JavaObjectiveCJniLibraryXcodeIdeFixture.groovy
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/JniLibraryComposingXcodeFunctionalTest.groovy
Due: none

Fix broken link
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-minimum-gradle-version/README.adoc
Due: publish (docs nightly)

Fix assumption for Linux
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish (docs nightly)

Add assumption the Objective-C/C++ tests are not running on Windows
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/jni/JavaObjectiveCJniLibrarySampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/jni/JavaObjectiveCppJniLibrarySampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/objectivec/ObjectiveCApplicationSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/objectivec/ObjectiveCLibrarySampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/objectivecpp/ObjectiveCppApplicationSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/objectivecpp/ObjectiveCppLibrarySampleTest.groovy
Due: publish (docs nightly)

According to the documentation from MSDN this commit should be correct
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniCGreeterLib.groovy
Due: none

Fix broken anchor
  subprojects/docs/src/jbake/templates/sample_index.gsp
Due: publish (JBake Templates), publish (docs nightly)

Fix build failure
  subprojects/docs/docs.gradle
Due: publish (JBake Templates), publish (docs nightly)

Fix failing assemble
  subprojects/docs/docs.gradle
Due: publish (JBake Templates), publish (docs nightly)

Remove task exclusion from CI
  .gitlab-ci.yml
Due: publish (JBake Templates), publish (docs nightly)

Author the incompatible and migrating chapters
  subprojects/docs/src/docs/manual/incompatible-plugins.adoc
  subprojects/docs/src/docs/manual/migrating-from-core-plugins.adoc
  subprojects/docs/src/docs/manual/migrating-from-software-model.adoc
Due: publish (docs nightly)

Fix typos in documentation
  subprojects/docs/src/docs/manual/gradle-plugin-development.adoc
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-minimum-gradle-version/README.adoc
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-test-suites/README.adoc
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-testing-strategies/README.adoc
Due: publish (docs nightly)

Fix typo in GitLab CI file
  .gitlab-ci.yml
Due: publish (JBake Templates), publish (docs nightly)

Add Gradle plugin development chapter inside menu
  subprojects/docs/src/jbake/templates/fragment-docs-navigation.gsp
Due: publish (JBake Templates), publish (docs nightly)

Fix typo in documentation
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/UriService.java
  subprojects/docs/src/docs/manual/gradle-plugin-development.adoc
  subprojects/docs/src/docs/manual/user-manual.adoc
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-minimum-gradle-version/README.adoc
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/BrokenLinksTest.groovy
Due: publish (JBake Templates), publish (docs nightly)

Fix typo in unit test configuration
  build.gradle
  subprojects/platform-ios/src/test/groovy/dev/nokee/platform/ios/internal/plugins/ObjectiveCIosApplicationPluginTest.groovy
Due: none

Remove unused import
  subprojects/platform-native/src/functionalTest/groovy/dev/nokee/platform/objectivec/ObjectiveCLanguageCompilationFunctionalTest.groovy
Due: none

Remove nokee plugin management block from toolbox samples
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/PluginManagementBlock.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/Sample.java
Due: publish (JBake Templates), publish (docs nightly)

Add snippet to toolbox manual chapter
  subprojects/docs/src/docs/manual/gradle-plugin-development.adoc
  subprojects/docs/src/docs/manual/plugin-references.adoc
Due: publish (docs nightly)

Mention additional support for Xcode IDE
  subprojects/docs/src/docs/manual/xcode-ide-plugin.adoc
Due: publish (docs nightly)

Showcase the runtime compatibilities
  subprojects/docs/src/docs/samples/gradle-plugin-development-runtime-compatibilities/README.adoc
  subprojects/docs/src/docs/samples/gradle-plugin-development-runtime-compatibilities/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-runtime-compatibilities/kotlin-dsl/build.gradle.kts
Due: publish (docs nightly)

Comment on the reason for `groovy-base`
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-minimum-gradle-version/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-minimum-gradle-version/kotlin-dsl/build.gradle.kts
Due: publish (docs nightly)

Add gradlePluginPortal() during sample testing
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish (docs nightly)

Clarify the reason for 4.9
  subprojects/docs/src/docs/samples/gradle-plugin-development-runtime-compatibilities/README.adoc
Due: publish (docs nightly)

Add settings.gradle[.kts] in sample readme
  subprojects/docs/src/docs/samples/gradle-plugin-development-runtime-compatibilities/README.adoc
Due: publish (docs nightly)

Update toolbox to version 1.0
  gradle.properties
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
  subprojects/docs/docs.gradle
  subprojects/docs/src/docs/manual/gradle-plugin-development-plugin.adoc
  subprojects/docs/src/docs/manual/gradle-plugin-functional-test-plugin.adoc
  subprojects/docs/src/docs/manual/gradle-plugin-unit-test-plugin.adoc
  subprojects/docs/src/docs/manual/groovy-gradle-plugin-plugin.adoc
  subprojects/docs/src/docs/manual/java-gradle-plugin-plugin.adoc
  subprojects/docs/src/docs/samples/gradle-plugin-development-runtime-compatibilities/groovy-dsl/settings.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-runtime-compatibilities/kotlin-dsl/settings.gradle.kts
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-minimum-gradle-version/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-minimum-gradle-version/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-test-suites/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-test-suites/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-testing-strategies/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-testing-strategies/kotlin-dsl/build.gradle.kts
  subprojects/templates/settings.gradle
Due: publish (JBake Templates), publish (docs nightly)

Fix test regarding fix to toolbox
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/XcodeIdeWorkspaceFunctionalTest.groovy
Due: none

Improve native langauge task names for immutability
  subprojects/language-native/src/testFixtures/groovy/dev/nokee/language/NativeLanguageTaskNames.groovy
Due: none

Add tests for assembling specific variants and per-variant dependencies
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/ObjectiveCIosApplicationNativeLanguageCompilationFunctionalTest.groovy
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/SwiftIosApplicationNativeLanguageCompilationFunctionalTest.groovy
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/BaseNativeComponent.java
  subprojects/platform-native/src/testFixtures/groovy/dev/nokee/fixtures/AbstractNativeComponentDependenciesFunctionalTest.groovy
  subprojects/platform-native/src/testFixtures/groovy/dev/nokee/fixtures/AbstractNativeLanguageCompilationFunctionalTest.groovy
Due: none

Model withVariant similar to withProject in language task names
  subprojects/language-native/src/testFixtures/groovy/dev/nokee/language/NativeLanguageTaskNames.groovy
Due: none

Add optional resource files to JNI library
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/elements/JniLibraryElement.java
Due: none

Add withOperatingSystemFamily to language task names
  subprojects/language-native/src/testFixtures/groovy/dev/nokee/language/NativeProjectTasks.java
Due: none

Model skipped all to assemble task for incremental native language
  subprojects/platform-native/src/testFixtures/groovy/dev/nokee/fixtures/AbstractNativeLanguageIncrementalCompilationFunctionalTest.groovy
Due: none

Ensure the Nokee server uses a localhost ip address
  subprojects/runtime-base/src/main/java/dev/nokee/runtime/base/internal/repositories/NokeeServerService.java
Due: none

Centralize the expected compilation error
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/ObjectiveCIosApplicationNativeLanguageCompilationFunctionalTest.groovy
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/SwiftIosApplicationNativeLanguageCompilationFunctionalTest.groovy
  subprojects/platform-native/src/functionalTest/groovy/dev/nokee/platform/c/CLanguageCompilationFunctionalTest.groovy
  subprojects/platform-native/src/functionalTest/groovy/dev/nokee/platform/cpp/CppLanguageCompilationFunctionalTest.groovy
  subprojects/platform-native/src/functionalTest/groovy/dev/nokee/platform/objectivec/ObjectiveCLanguageCompilationFunctionalTest.groovy
  subprojects/platform-native/src/functionalTest/groovy/dev/nokee/platform/objectivecpp/ObjectiveCppLanguageCompilationFunctionTest.groovy
  subprojects/platform-native/src/functionalTest/groovy/dev/nokee/platform/swift/SwiftLanguageCompilationFunctionalTest.groovy
  subprojects/platform-native/src/testFixtures/groovy/dev/nokee/fixtures/AbstractNativeLanguageCompilationFunctionalTest.groovy
Due: none

Fix spacing after dd elements
  subprojects/docs/src/jbake/assets/css/docs-asciidoctor.css
Due: publish (JBake Templates), publish (docs nightly)

Add generic native compilation tests to JNI
  subprojects/platform-jni/platform-jni.gradle
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JniLibraryNativeLanguageCompilationFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JniLibraryNativeLanguageIncrementalCompilationFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/fixtures/JavaJniTaskNames.groovy
Due: none

Fix failure cause by refactoring around task names
  subprojects/language-native/src/testFixtures/groovy/dev/nokee/language/NativeLanguageTaskNames.groovy
Due: none

Remove software model left over language suffix
  subprojects/language-native/src/testFixtures/groovy/dev/nokee/language/NativeLanguageTaskNames.groovy
  subprojects/language-native/src/testFixtures/groovy/dev/nokee/language/objectivec/ObjectiveCTaskNames.groovy
  subprojects/language-native/src/testFixtures/groovy/dev/nokee/language/objectivecpp/ObjectiveCppTaskNames.groovy
Due: none

Extract NativeLanguageTaskNames.ProjectTasks to DefaultNativeProjectTasks
  subprojects/language-native/src/testFixtures/groovy/dev/nokee/language/DefaultNativeProjectTasks.groovy
  subprojects/language-native/src/testFixtures/groovy/dev/nokee/language/NativeLanguageTaskNames.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractNativeLinkingAwareComponentFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/fixtures/JavaJniTaskNames.groovy
Due: none

Extract JavaTaskNames.ProjectTasks to DefaultJavaProjectTasks
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/language/DefaultJavaProjectTasks.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/language/java/JavaTaskNames.groovy
Due: none
