Repository nokeedev/gradle-native: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish (JBake Templates), publish (docs nightly)

publish (JBake Templates):
  stage: build
  script:
  - ./gradlew --scan :docs:publishJbakePublicationToS3Repository
  - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/17545900/trigger/pipeline
  ...

publish (docs nightly):
  stage: build
  script:
  - ./gradlew --scan :docs:publishBakedPublicationToS3Repository
  - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/16537594/trigger/pipeline
  artifacts:
    when: on_failure
    paths:
    - subprojects/docs/build/**/*

Revert change that was too broad
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/FrameworkHandler.java
Due: none

Use coreExec for executing xcrun
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/repositories/ConsumingFrameworkFunctionalTest.groovy
  subprojects/platform-native/platform-native.gradle
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/locators/AbstractXcRunLocator.java
Due: none

Add support for tools to the embedded server
  subprojects/platform-native/platform-native.gradle
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/AbstractHandler.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/DefaultToolDescriptor.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/GradleModuleMetadata.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/JettyEmbeddedHttpServer.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/NokeeServerService.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/ToolDescriptor.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/ToolHandler.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/XcodeLocator.java
Due: none

Showcase tool dependencies for ibtool when building iOS application
  subprojects/platform-ios/platform-ios.gradle
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/internal/CommandLineToolDescriptor.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/internal/DescriptorCommandLineTool.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/internal/plugins/ObjectiveCIosApplicationPlugin.java
Due: none

Optimize embedded server start
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/NokeeServerService.java
Due: none

First pass at breaking down the runtimes
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/repositories/ConsumingFrameworkFunctionalTest.groovy
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/plugins/FakeMavenRepositoryPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/NokeeServerService.java
  subprojects/platform-native/src/main/java/dev/nokee/runtime/darwin/internal/plugins/DarwinFrameworkResolutionSupportPlugin.java
  subprojects/platform-native/src/test/groovy/dev/nokee/platform/nativebase/repositories/NokeeServerServiceTest.groovy
Due: none

Adjust the framework test from the previous change
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/repositories/ConsumingFrameworkFunctionalTest.groovy
Due: none

Use the base handler class for the framework implementation
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/repositories/ConsumingFrameworkFunctionalTest.groovy
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/FrameworkHandler.java
Due: none

Update the distribution script
  subprojects/distributions/distributions.gradle
Due: none

Prepare version 0.4
  subprojects/docs/src/docs/release-notes.adoc
  version.txt
Due: publish (docs nightly)

Prefer using @Inject instead of constructor parameters
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryExtensionInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryInternal.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
Due: none

Move a test that got squashed in the main source.
  subprojects/platform-base/platform-base.gradle
  subprojects/platform-base/src/test/groovy/dev/nokee/platform/base/internal/GroupIdTest.groovy
Due: none

Differ realization of variant as late as possible
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultVariantView.java
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/VariantAwareNativeComponentFunctionalTest.groovy
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryExtensionInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryRules.java
Due: none

Differ variant resolution for the test task
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Add coverage for differed variant creation
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/VariantAwareNativeComponentFunctionalTest.groovy
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Add all variant instead of trying to minimize which one we create
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/fixtures/XcodebuildExecutor.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultBinaryView.java
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JniLibraryTargetMachinesFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/VariantAwareNativeComponentFunctionalTest.groovy
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryExtensionInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryRules.java
Due: none

Introduce objects and sharedLibrary lifecycle tasks
  gradle.properties
  gradle/plugins/docs-gradle-plugin/build.gradle
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
  subprojects/language-native/src/main/java/dev/nokee/language/c/internal/tasks/CCompileTask.java
  subprojects/language-native/src/main/java/dev/nokee/language/cpp/internal/tasks/CppCompileTask.java
  subprojects/language-native/src/main/java/dev/nokee/language/objectivec/internal/tasks/ObjectiveCCompileTask.java
  subprojects/language-native/src/main/java/dev/nokee/language/objectivecpp/internal/tasks/ObjectiveCppCompileTask.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultTaskView.java
  subprojects/platform-jni/platform-jni.gradle
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/language/NativeLanguageTaskNames.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/language/c/CTaskNames.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/language/cpp/CppTaskNames.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/language/objectivec/ObjectiveCTaskNames.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/language/objectivecpp/ObjectiveCppTaskNames.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractNativeCompilationAwareComponentFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractNativeLinkingAwareComponentFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractVariantAwareComponentFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/KotlinCppJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/KotlinCppJniLibraryWithJUnitTestingFunctionalTest.groovy
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniCGreeterLib.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniCppGreeterLib.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniObjectiveCGreeterLib.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniObjectiveCNSSavePanelLib.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniObjectiveCppGreeterLib.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/KotlinJniCppGreeterLib.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/elements/JniLibraryElement.java
Due: publish (JBake Templates), publish (docs nightly)

Fold JNI functional tests into abstract class
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/language/NativeLanguageTaskNames.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractJavaJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractJavaJniLibraryIncrementalFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractJavaJniLibraryWithJUnitTestingFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractSharedLibraryConfigurationFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaCJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaCJniLibraryIncrementalFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaCJniLibrarySharedLibraryConfigurationFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaCJniLibraryWithJUnitTestingFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaCppJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaCppJniLibraryIncrementalFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaCppJniLibrarySharedLibraryConfigurationFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaCppJniLibraryWithJUnitTestingFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCJniLibraryIncrementalFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCJniLibrarySharedLibraryConfigurationFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCJniLibraryWithJUnitTestingFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCppJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCppJniLibraryIncrementalFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCppJniLibrarySharedLibraryConfigurationFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCppJniLibraryWithJUnitTestingFunctionalTest.groovy
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryRules.java
Due: none

Add a exec logging engine and allow customizing the caching engine
  subprojects/core-exec/src/main/java/dev/nokee/core/exec/CachingProcessBuilderEngine.java
  subprojects/core-exec/src/main/java/dev/nokee/core/exec/LoggingEngine.java
  subprojects/runtime-darwin/src/main/java/dev/nokee/runtime/darwin/internal/FrameworkRouteHandler.java
Due: none

Workaround a Gradle bug affecting 6.3+
  subprojects/runtime-base/src/main/java/dev/nokee/runtime/base/internal/plugins/FakeMavenRepositoryPlugin.java
  subprojects/runtime-base/src/main/java/dev/nokee/runtime/base/internal/repositories/NokeeServerService.java
Due: none

Fix breaking change from toolbox
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/tasks/fixtures/WellBehavingTaskSpec.java
Due: none

Mention the Kotlin plugin inside the Building JNI projects chapter
  subprojects/docs/src/docs/manual/building-jni-projects.adoc
Due: publish (docs nightly)

Register the Nokee server regardless of the operating system
  subprojects/runtime-base/src/main/java/dev/nokee/runtime/base/internal/plugins/FakeMavenRepositoryPlugin.java
Due: none

Ensure the language is mentioned in the task graph
  subprojects/docs/src/docs/manual/img/jni-library-task-graph.dot
Due: publish (docs nightly)

Move server test to runtime-base project
  subprojects/runtime-base/runtime-base.gradle
  subprojects/runtime-base/src/test/groovy/dev/nokee/runtime/base/internal/repositories/NokeeServerServiceTest.groovy
Due: none

Resolve variants for filtered binary views
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultBinaryView.java
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JniLibraryTargetMachinesFunctionalTest.groovy
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryExtensionInternal.java
Due: none

Add map and flatMap APIs to views
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/BinaryView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/TaskView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/VariantView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultBinaryView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultTaskView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultVariantView.java
Due: none

Fix sample regarding recent changes
  subprojects/docs/src/docs/samples/jni-library-as-uber-jar/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/jni-library-as-uber-jar/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/xcode-ide-composing/README.adoc
Due: publish (docs nightly)

For now, let's disable debugging by default
  subprojects/platform-native/src/main/java/dev/nokee/language/nativebase/internal/NativeSourceSetTransform.java
Due: none

Register assemble lifecycle task after evaluation
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Disable debugging on link task
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Add dependency for variant-aware assemble to variant binaries
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Upgrade to toolbox 0.0.63
  gradle.properties
  gradle/plugins/docs-gradle-plugin/build.gradle
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
Due: publish (JBake Templates), publish (docs nightly)

Fix multiple architecture tests on Linux and Windows
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Add missing configuration and remove debuggability on link tasks
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/language/nativebase/internal/NativeSourceSetTransform.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
Due: none

Upgrade toolbox to latest version and fix windows path separator
  gradle.properties
  gradle/plugins/docs-gradle-plugin/build.gradle
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractVariantAwareComponentFunctionalTest.groovy
Due: publish (JBake Templates), publish (docs nightly)

Ignore Objective-C/C++ tests on Windows
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractNativeCompilationAwareComponentFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractNativeLinkingAwareComponentFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractVariantAwareComponentFunctionalTest.groovy
Due: none

Update to toolbox 0.0.66
  gradle.properties
  gradle/plugins/docs-gradle-plugin/build.gradle
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
Due: publish (JBake Templates), publish (docs nightly)

Path conditions:
  publish (JBake Templates): any of: .gitlab-ci.yml, subprojects/docs/src/jbake/**/*, subprojects/docs/docs.gradle, gradle/plugins/docs-gradle-plugin/**/*
  publish (docs nightly): any of: .gitlab-ci.yml, subprojects/docs/**/*, subprojects/docs/docs.gradle, gradle/plugins/docs-gradle-plugin/**/*
