Repository nokeedev/gradle-native: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish (JBake Templates), publish (docs nightly)

publish (JBake Templates):
  stage: build
  script:
  - ./gradlew --scan :docs:publishJbakePublicationToS3Repository
  - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/17545900/trigger/pipeline
  ...

publish (docs nightly):
  stage: build
  script:
  - ./gradlew --scan :docs:publishBakedPublicationToS3Repository
  - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/16537594/trigger/pipeline
  artifacts:
    when: on_failure
    paths:
    - subprojects/docs/build/**/*

Something seems to have changed in the plugin portal
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlLinkTester.java
Due: publish (JBake Templates), publish (docs nightly)

Differ toolchain resolution for the sake of unit tests
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/language/nativebase/internal/NativeSourceSetTransform.java
Due: none

Mirror the natural project ordering
  subprojects/distributions/distributions.gradle
Due: none

Use List instead of Set (change to the map/flatMap prototype)
  subprojects/docs/src/docs/samples/jni-library-as-uber-jar/kotlin-dsl/build.gradle.kts
Due: publish (docs nightly)

Formalize the dimension concept
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/BuildVariant.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultBuildVariant.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultDimensionType.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/Dimension.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DimensionType.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/NamingScheme.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/VariantCollection.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/VariantFactory.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/VariantNamingScheme.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryExtensionInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/DefaultMachineArchitecture.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/DefaultOperatingSystemFamily.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/DefaultTargetMachine.java
Due: none

Return a list instead of set from map/flatMap of views
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/BinaryView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/TaskView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/VariantView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultBinaryView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultTaskView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultVariantView.java
Due: none

Prevent using API that aren't unit test friendly
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Introduce convenience for the other buckets of dependencies
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/JniLibraryDependencies.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/JniLibraryNativeDependencies.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryDependenciesInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryExtensionInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryNativeDependenciesInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Use ConfigurationUtils instead of handrolled bucket configuration
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryDependenciesInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryNativeDependenciesInternal.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/ConfigurationUtils.java
Due: none

Add more unit tests and ensure they all pass
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultBinaryView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultVariantView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/VariantCollection.java
  subprojects/platform-jni/platform-jni.gradle
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/JniLibrary.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryDependenciesInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryExtensionInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryNativeDependenciesInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
  subprojects/platform-jni/src/test/groovy/dev/nokee/platform/jni/internal/plugins/JniLibraryPluginTest.groovy
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
Due: none

Move `machines` extension directly on the JniLibraryExtension
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/JniLibraryExtension.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryExtensionInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Cowboy wire the new dependency bucket together
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryInternal.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/ConfigurationUtils.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
Due: none

Use `machines` from `library` as the extensions was removed
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractTargetMachinesFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JniLibraryTargetMachinesFunctionalTest.groovy
Due: none

Add description in the output for configuration of the sample
  subprojects/docs/src/docs/samples/jni-library-composing/README.adoc
Due: publish (docs nightly)

Track missing tests that will be added in future commits
  subprojects/platform-jni/src/test/groovy/dev/nokee/platform/jni/internal/plugins/JniLibraryPluginTest.groovy
Due: none

Create the objects task only if a native compilation plugin is applied
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Aggregate the variant code inside VariantCollection
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/NamingScheme.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/Realizable.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/VariantCollection.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/VariantFactory.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryExtensionInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Remove usage to the internal API
  subprojects/docs/src/docs/samples/publish-jni-library-with-target-machines/groovy-dsl/gradle/plugins/jni-library-publish/src/main/groovy/dev/nokee/samples/JniLibraryPublishPlugin.groovy
  subprojects/docs/src/docs/samples/publish-jni-library-with-target-machines/kotlin-dsl/gradle/plugins/jni-library-publish/src/main/groovy/dev/nokee/samples/JniLibraryPublishPlugin.groovy
Due: publish (docs nightly)

Track a possible solution for better API
  subprojects/platform-base/src/main/java/dev/nokee/language/base/internal/UTTypeUtils.java
Due: none

Allow description to be configured via the ConfigurationUtils
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryNativeDependenciesInternal.java
  subprojects/platform-jni/src/test/groovy/dev/nokee/platform/jni/internal/plugins/JniLibraryPluginTest.groovy
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/ConfigurationUtils.java
Due: none

Differ configuration avoidance workaround until after the project is evaluated
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Ensure methods are visible on JniLibraryDependencies type for DSL docs
  subprojects/docs/src/docs/dsl/dev.nokee.platform.jni.JniLibraryDependencies.json
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/JniLibraryDependencies.java
Due: publish (docs nightly)

Throw helpful message when incompatible plugins are used
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/IncompatiblePluginUsage.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Move compile configuration from SharedLibraryBinaryInternal to NativeSourceSetTransform
  subprojects/language-native/src/main/java/dev/nokee/language/c/internal/CSourceSetTransform.java
  subprojects/language-native/src/main/java/dev/nokee/language/cpp/internal/CppSourceSetTransform.java
  subprojects/language-native/src/main/java/dev/nokee/language/objectivec/internal/ObjectiveCSourceSetTransform.java
  subprojects/language-native/src/main/java/dev/nokee/language/objectivecpp/internal/ObjectiveCppSourceSetTransform.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/language/nativebase/internal/NativeSourceSetTransform.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/DependencyUtils.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
Due: none

Cowboy wiring of the JVM runtime only to the real runtime only
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryDependenciesInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Configure the group and description of the Jar and link task
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Add a bunch of unit tests for the JNI plugins
  subprojects/platform-jni/platform-jni.gradle
  subprojects/platform-jni/src/test/groovy/dev/nokee/platform/jni/internal/plugins/JniLibraryPluginTest.groovy
Due: none

Add buildable API on shared library binary
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JniLibraryTargetMachinesFunctionalTest.groovy
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/SharedLibraryBinary.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
Due: none

Publish an all inclusive artifact to help with aligning the dependencies
  settings.gradle
  subprojects/distributions/all/distributions-all.gradle
  subprojects/distributions/bom/distributions-bom.gradle
  subprojects/distributions/distributions.gradle
Due: none

Ensure distribution javadoc works correctly
  subprojects/distributions/distributions.gradle
Due: none

Eliminate nested closure to avoid long path issue on Windows
  subprojects/docs/src/docs/samples/publish-jni-library-with-target-machines/groovy-dsl/gradle/plugins/jni-library-publish/src/main/groovy/dev/nokee/samples/JniLibraryPublishPlugin.groovy
  subprojects/docs/src/docs/samples/publish-jni-library-with-target-machines/kotlin-dsl/gradle/plugins/jni-library-publish/src/main/groovy/dev/nokee/samples/JniLibraryPublishPlugin.groovy
Due: publish (docs nightly)

Speed up publication by using Nokee Core Exec
  subprojects/distributions/distributions.gradle
Due: none

Introduce native runtime files API to allow easy prebuilt binaries
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/JniLibrary.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Add test coverage for the native runtime files collection
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractJavaJniLibraryFunctionalTest.groovy
Due: none

Add missing @since 0.4 on the new API
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/JniLibrary.java
Due: none

Add new APIs to Views as well as test coverage
  subprojects/platform-base/platform-base.gradle
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/BinaryView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/TaskView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/VariantView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultBinaryView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultTaskView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultVariantView.java
  subprojects/platform-base/src/test/groovy/dev/nokee/platform/base/internal/AbstractViewTest.groovy
  subprojects/platform-base/src/test/groovy/dev/nokee/platform/base/internal/DefaultBinaryViewTest.groovy
  subprojects/platform-base/src/test/groovy/dev/nokee/platform/base/internal/DefaultTaskViewTest.groovy
  subprojects/platform-base/src/test/groovy/dev/nokee/platform/base/internal/DefaultVariantViewTest.groovy
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
Due: none

Consolidate view APIs under a super interface
  subprojects/docs/src/docs/dsl/dev.nokee.platform.base.BinaryView.json
  subprojects/docs/src/docs/dsl/dev.nokee.platform.base.TaskView.json
  subprojects/docs/src/docs/dsl/dev.nokee.platform.base.VariantView.json
  subprojects/docs/src/docs/dsl/dev.nokee.platform.base.View.json
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/BinaryView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/TaskView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/VariantView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/View.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/AbstractView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultBinaryView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultTaskView.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/DefaultVariantView.java
Due: publish (docs nightly)

Add Subject annotation to view tests
  subprojects/platform-base/src/test/groovy/dev/nokee/platform/base/internal/DefaultBinaryViewTest.groovy
  subprojects/platform-base/src/test/groovy/dev/nokee/platform/base/internal/DefaultTaskViewTest.groovy
  subprojects/platform-base/src/test/groovy/dev/nokee/platform/base/internal/DefaultVariantViewTest.groovy
Due: none

Add support for macOS SDK version different than current OS
  subprojects/runtime-darwin/runtime-darwin.gradle
  subprojects/runtime-darwin/src/main/antlr/XcodebuildSdks.g4
  subprojects/runtime-darwin/src/main/java/dev/nokee/runtime/darwin/internal/FrameworkRouteHandler.java
  subprojects/runtime-darwin/src/main/java/dev/nokee/runtime/darwin/internal/XcodeSdk.java
  subprojects/runtime-darwin/src/main/java/dev/nokee/runtime/darwin/internal/locators/XcodeLocator.java
  subprojects/runtime-darwin/src/main/java/dev/nokee/runtime/darwin/internal/locators/XcodeUtils.java
  subprojects/runtime-darwin/src/main/java/dev/nokee/runtime/darwin/internal/locators/XcodebuildLocator.java
  subprojects/runtime-darwin/src/main/java/dev/nokee/runtime/darwin/internal/parsers/XcodebuildParsers.java
  subprojects/runtime-darwin/src/main/java/dev/nokee/runtime/darwin/internal/plugins/DarwinFrameworkResolutionSupportPlugin.java
  subprojects/runtime-darwin/src/test/groovy/dev/nokee/runtime/darwin/internal/locators/XcrunLocatorTest.groovy
  subprojects/runtime-darwin/src/test/groovy/dev/nokee/runtime/darwin/internal/parsers/XcodebuildParsersTest.groovy
Due: none

Use latest.release version in framework sample
  subprojects/docs/src/docs/samples/jni-library-with-framework-dependencies/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/jni-library-with-framework-dependencies/kotlin-dsl/build.gradle.kts
Due: publish (docs nightly)

Path conditions:
  publish (JBake Templates): any of: .gitlab-ci.yml, subprojects/docs/src/jbake/**/*, subprojects/docs/docs.gradle, gradle/plugins/docs-gradle-plugin/**/*
  publish (docs nightly): any of: .gitlab-ci.yml, subprojects/docs/**/*, subprojects/docs/docs.gradle, gradle/plugins/docs-gradle-plugin/**/*
