Repository nokeedev/gradle-native: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish (JBake Templates), publish (docs nightly)

publish (JBake Templates):
  stage: build
  script:
  - ./gradlew --scan :docs:publishJbakePublicationToS3Repository
  - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/17545900/trigger/pipeline
  ...

publish (docs nightly):
  stage: build
  script:
  - ./gradlew --scan :docs:publishBakedPublicationToS3Repository
  - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/16537594/trigger/pipeline
  artifacts:
    when: on_failure
    paths:
    - subprojects/docs/build/**/*

Always publish the documentation
  .gitlab-ci.yml
Due: publish (JBake Templates), publish (docs nightly)

Ignore Objective-C/C++ tests on Windows
  subprojects/platform-native/src/functionalTest/groovy/dev/nokee/platform/objectivec/ObjectiveCLanguageComponentDependenciesFunctionalTest.groovy
  subprojects/platform-native/src/functionalTest/groovy/dev/nokee/platform/objectivecpp/ObjectiveCppLanguageComponentDependenciesFunctionalTest.groovy
Due: none

Export C function on Windows for shared library
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniCGreeterLib.groovy
Due: none

Move well behaving task test infrastructure to platform base
  subprojects/platform-base/platform-base.gradle
  subprojects/platform-base/src/testFixtures/groovy/dev/nokee/fixtures/tasks/WellBehavingTaskAssertion.java
  subprojects/platform-base/src/testFixtures/groovy/dev/nokee/fixtures/tasks/WellBehavingTaskProperty.java
  subprojects/platform-base/src/testFixtures/groovy/dev/nokee/fixtures/tasks/WellBehavingTaskPropertyBuilder.java
  subprojects/platform-base/src/testFixtures/groovy/dev/nokee/fixtures/tasks/WellBehavingTaskPropertyMutator.java
  subprojects/platform-base/src/testFixtures/groovy/dev/nokee/fixtures/tasks/WellBehavingTaskPropertyValue.java
  subprojects/platform-base/src/testFixtures/groovy/dev/nokee/fixtures/tasks/WellBehavingTaskSpec.java
  subprojects/platform-base/src/testFixtures/groovy/dev/nokee/fixtures/tasks/WellBehavingTaskTest.groovy
  subprojects/platform-base/src/testFixtures/groovy/dev/nokee/fixtures/tasks/WellBehavingTaskTestCase.java
  subprojects/platform-base/src/testFixtures/groovy/dev/nokee/fixtures/tasks/WellBehavingTaskTestSuite.java
  subprojects/platform-base/src/testFixtures/groovy/dev/nokee/fixtures/tasks/WellBehavingTaskTransform.java
  subprojects/platform-ios/platform-ios.gradle
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/tasks/StoryboardCompileWellBehavingTaskTest.groovy
Due: none

Upgrade toolbox to latest version, that is 0.0.68
  gradle.properties
  gradle/plugins/docs-gradle-plugin/build.gradle
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
Due: publish (JBake Templates), publish (docs nightly)

Formalize the component layer
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/BaseComponent.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/Component.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/ComponentCollection.java
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/ComponentProvider.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/c/internal/DefaultCApplicationExtension.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/c/internal/DefaultCLibraryExtension.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/c/internal/plugins/CApplicationPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/c/internal/plugins/CLibraryPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/cpp/internal/DefaultCppApplicationExtension.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/cpp/internal/DefaultCppLibraryExtension.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/cpp/internal/plugins/CppApplicationPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/cpp/internal/plugins/CppLibraryPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/BaseNativeExtension.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/DefaultNativeApplicationComponent.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/DefaultNativeLibraryComponent.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/objectivec/internal/DefaultObjectiveCApplicationExtension.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/objectivec/internal/DefaultObjectiveCLibraryExtension.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/objectivec/internal/plugins/ObjectiveCApplicationPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/objectivec/internal/plugins/ObjectiveCLibraryPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/objectivecpp/internal/DefaultObjectiveCppApplicationExtension.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/objectivecpp/internal/DefaultObjectiveCppLibraryExtension.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/objectivecpp/internal/plugins/ObjectiveCppApplicationPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/objectivecpp/internal/plugins/ObjectiveCppLibraryPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/swift/internal/DefaultSwiftApplicationExtension.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/swift/internal/DefaultSwiftLibraryExtension.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/swift/internal/plugins/SwiftApplicationPlugin.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/swift/internal/plugins/SwiftLibraryPlugin.java
Due: none

Expose header, import and framework search path on binaries
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/ExecutableBinaryInternal.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
Due: none

Generalize development variants for components
  subprojects/platform-base/src/main/java/dev/nokee/platform/base/internal/BaseComponent.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/internal/DefaultIosApplicationComponent.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/BaseNativeComponent.java
Due: none

Fix typo in comment
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/XcodeIdeTarget.java
Due: none

Filter compilation unit based on UTType extensions for Xcode IDE
  subprojects/ide-xcode/ide-xcode.gradle
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/tasks/GenerateXcodeIdeProjectTask.java
Due: none

Add Xcode IDE support for all native plugins
  subprojects/ide-xcode/ide-xcode.gradle
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/AbstractXcodeIdeNativeComponentPluginFunctionalTest.groovy
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/XcodeIdeCComponentPluginFunctionalTest.groovy
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/XcodeIdeCppComponentPluginFunctionalTest.groovy
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/XcodeIdeObjectiveCComponentPluginFunctionalTest.groovy
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/XcodeIdeObjectiveCppComponentPluginFunctionalTest.groovy
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/XcodeIdeSwiftComponentPluginFunctionalTest.groovy
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdeNativeApplicationPlugin.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdeNativeLibraryPlugin.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdePlugin.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdeSwiftApplicationPlugin.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdeSwiftLibraryPlugin.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/tasks/GenerateXcodeIdeProjectTask.java
Due: none

Ensure the scheme XML contains indentation
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/tasks/GenerateXcodeIdeProjectTask.java
Due: none

Ensure buildable launch reference is not included inside Xcode scheme
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/tasks/GenerateXcodeIdeProjectTask.java
Due: none

Test the wellbehaving feature of the SyncXcodeIdeProduct task
  subprojects/ide-xcode/ide-xcode.gradle
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/internal/tasks/SyncXcodeIdeProductWellBehavingTaskTest.groovy
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/tasks/SyncXcodeIdeProduct.java
Due: none

Fix the samples with regards to testing
  subprojects/docs/src/docs/samples/c-application/README.adoc
  subprojects/docs/src/docs/samples/c-library/README.adoc
  subprojects/docs/src/docs/samples/cpp-application/README.adoc
  subprojects/docs/src/docs/samples/cpp-library/README.adoc
  subprojects/docs/src/docs/samples/objective-c-application/README.adoc
  subprojects/docs/src/docs/samples/objective-c-application/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/objective-c-application/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/objective-c-library/README.adoc
  subprojects/docs/src/docs/samples/objective-c-library/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/objective-c-library/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/objective-cpp-application/README.adoc
  subprojects/docs/src/docs/samples/objective-cpp-application/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/objective-cpp-application/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/objective-cpp-library/README.adoc
  subprojects/docs/src/docs/samples/objective-cpp-library/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/objective-cpp-library/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/swift-application/README.adoc
  subprojects/docs/src/docs/samples/swift-library/README.adoc
Due: publish (docs nightly)

Rename terminology anchors
  subprojects/docs/src/docs/manual/building-jni-projects.adoc
  subprojects/docs/src/docs/manual/terminology.adoc
Due: publish (docs nightly)

Configure SDK for Swift build on macOS
  subprojects/platform-native/platform-native.gradle
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/BaseNativeBinary.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/ExecutableBinaryInternal.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
Due: none

Ensure the import search path is properly configured for compiled module
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
Due: none

Add support for native development sample category
  subprojects/docs/src/jbake/templates/sample_index.gsp
Due: publish (JBake Templates), publish (docs nightly)

Add new plugin mapping when releasing
  subprojects/distributions/distributions.gradle
Due: none

Fix typo in link expension variable
  subprojects/docs/src/docs/samples/c-application/README.adoc
  subprojects/docs/src/docs/samples/c-library/README.adoc
  subprojects/docs/src/docs/samples/cpp-application/README.adoc
  subprojects/docs/src/docs/samples/cpp-library/README.adoc
  subprojects/docs/src/docs/samples/objective-c-application/README.adoc
  subprojects/docs/src/docs/samples/objective-c-library/README.adoc
  subprojects/docs/src/docs/samples/objective-cpp-application/README.adoc
  subprojects/docs/src/docs/samples/objective-cpp-library/README.adoc
  subprojects/docs/src/docs/samples/swift-application/README.adoc
  subprojects/docs/src/docs/samples/swift-library/README.adoc
Due: publish (docs nightly)

Fix typo in documentation link
  subprojects/docs/src/docs/samples/c-application/README.adoc
  subprojects/docs/src/docs/samples/c-library/README.adoc
  subprojects/docs/src/docs/samples/cpp-application/README.adoc
  subprojects/docs/src/docs/samples/cpp-library/README.adoc
  subprojects/docs/src/docs/samples/objective-c-application/README.adoc
  subprojects/docs/src/docs/samples/objective-c-library/README.adoc
  subprojects/docs/src/docs/samples/objective-cpp-application/README.adoc
  subprojects/docs/src/docs/samples/objective-cpp-library/README.adoc
  subprojects/docs/src/docs/samples/swift-application/README.adoc
  subprojects/docs/src/docs/samples/swift-library/README.adoc
Due: publish (docs nightly)

Update toolbox to latest version
  build.gradle
  gradle.properties
  gradle/plugins/docs-gradle-plugin/build.gradle
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
Due: publish (JBake Templates), publish (docs nightly)

Use new features from the toolbox
  gradle/plugins/docs-gradle-plugin/build.gradle
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
  subprojects/core-exec/core-exec.gradle
  subprojects/docs/docs.gradle
  subprojects/ide-xcode/ide-xcode.gradle
  subprojects/platform-base/platform-base.gradle
  subprojects/platform-ios/platform-ios.gradle
  subprojects/platform-jni/platform-jni.gradle
  subprojects/platform-native/platform-native.gradle
  subprojects/runtime-base/runtime-base.gradle
  subprojects/runtime-darwin/runtime-darwin.gradle
  subprojects/runtime-native/runtime-native.gradle
  subprojects/templates/build.gradle
  subprojects/templates/settings.gradle
Due: publish (JBake Templates), publish (docs nightly)

Fix yet another typo in documentation
  subprojects/docs/src/docs/samples/c-application/README.adoc
  subprojects/docs/src/docs/samples/c-library/README.adoc
  subprojects/docs/src/docs/samples/cpp-application/README.adoc
  subprojects/docs/src/docs/samples/cpp-library/README.adoc
  subprojects/docs/src/docs/samples/objective-c-application/README.adoc
  subprojects/docs/src/docs/samples/objective-c-library/README.adoc
  subprojects/docs/src/docs/samples/objective-cpp-application/README.adoc
  subprojects/docs/src/docs/samples/objective-cpp-library/README.adoc
  subprojects/docs/src/docs/samples/swift-application/README.adoc
  subprojects/docs/src/docs/samples/swift-library/README.adoc
Due: publish (docs nightly)

Remove Lib templates as they are not required
  subprojects/platform-native/src/functionalTest/groovy/dev/nokee/platform/cpp/CppLanguageCompilationFunctionalTest.groovy
  subprojects/platform-native/src/functionalTest/groovy/dev/nokee/platform/objectivec/ObjectiveCLanguageCompilationFunctionalTest.groovy
  subprojects/platform-native/src/functionalTest/groovy/dev/nokee/platform/objectivecpp/ObjectiveCppLanguageCompilationFunctionTest.groovy
  subprojects/platform-native/src/functionalTest/groovy/dev/nokee/platform/swift/SwiftLanguageCompilationFunctionalTest.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/nativebase/fixtures/CppGreeterLib.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/nativebase/fixtures/ObjectiveCGreeterLib.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/nativebase/fixtures/ObjectiveCppGreeterLib.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/nativebase/fixtures/SwiftGreeterLib.groovy
Due: none

Allow to properly depend on the producer of the Xcode IDE build settings
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/AbstractXcodeIdeNativeComponentPluginFunctionalTest.groovy
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/XcodeIdeSwiftComponentPluginFunctionalTest.groovy
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/DefaultXcodeIdeBuildSettings.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/tasks/GenerateXcodeIdeProjectTask.java
Due: none

Improve the workaround for https://github.com/gradle/gradle/issues/13405
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/tasks/GenerateXcodeIdeProjectTask.java
Due: none

Allow snippet output comparison
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish (docs nightly)

Update wrapper to Gradle 6.5
  gradle/plugins/docs-gradle-plugin/gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  subprojects/templates/gradle.properties
Due: publish (JBake Templates), publish (docs nightly)

Allow none plugin management blocks
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/PluginManagementBlock.java
Due: publish (JBake Templates), publish (docs nightly)

Update to latest toolbox version
  build.gradle
  gradle.properties
  gradle/plugins/docs-gradle-plugin/build.gradle
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
  subprojects/docs/docs.gradle
  subprojects/ide-xcode/ide-xcode.gradle
  subprojects/language-native/language-native.gradle
  subprojects/platform-base/platform-base.gradle
  subprojects/platform-ios/platform-ios.gradle
  subprojects/platform-jni/platform-jni.gradle
  subprojects/platform-native/platform-native.gradle
  subprojects/runtime-base/runtime-base.gradle
  subprojects/runtime-darwin/runtime-darwin.gradle
  subprojects/templates/settings.gradle
Due: publish (JBake Templates), publish (docs nightly)

Add Gradle plugin development documentation
  subprojects/docs/docs.gradle
  subprojects/docs/src/docs/manual/gradle-plugin-development-plugin.adoc
  subprojects/docs/src/docs/manual/gradle-plugin-development.adoc
  subprojects/docs/src/docs/manual/gradle-plugin-functional-test-plugin.adoc
  subprojects/docs/src/docs/manual/gradle-plugin-unit-test-plugin.adoc
  subprojects/docs/src/docs/manual/groovy-gradle-plugin-plugin.adoc
  subprojects/docs/src/docs/manual/img/gradle-plugin-development-idea-annotated.png
  subprojects/docs/src/docs/manual/img/gradle-plugin-development-idea.png
  subprojects/docs/src/docs/manual/java-gradle-plugin-plugin.adoc
  subprojects/docs/src/docs/manual/plugin-references.adoc
  subprojects/docs/src/docs/samples/gradle-plugin-development-runtime-compatibilities/README.adoc
  subprojects/docs/src/docs/samples/gradle-plugin-development-runtime-compatibilities/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-runtime-compatibilities/groovy-dsl/settings.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-runtime-compatibilities/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/gradle-plugin-development-runtime-compatibilities/kotlin-dsl/settings.gradle.kts
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-minimum-gradle-version/README.adoc
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-minimum-gradle-version/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-minimum-gradle-version/groovy-dsl/settings.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-minimum-gradle-version/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-minimum-gradle-version/kotlin-dsl/settings.gradle.kts
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-test-suites/README.adoc
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-test-suites/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-test-suites/groovy-dsl/settings.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-test-suites/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-test-suites/kotlin-dsl/settings.gradle.kts
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-test-suites/test-suites-build-scan.png
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-testing-strategies/README.adoc
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-testing-strategies/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-testing-strategies/groovy-dsl/settings.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-testing-strategies/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-testing-strategies/kotlin-dsl/settings.gradle.kts
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-testing-strategies/testing-strategies-build-scan.png
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-testing-strategies/testing-strategies-inside-idea.png
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/gradledev/GradlePluginDevelopmentRuntimeCompatibilitiesSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/gradledev/GradlePluginDevelopmentWithMinimumGradleVersionSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/gradledev/GradlePluginDevelopmentWithTestSuitesSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/gradledev/GradlePluginDevelopmentWithTestingStrategiesSampleTest.groovy
Due: publish (JBake Templates), publish (docs nightly)

Update toolbox to latest version
  gradle.properties
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
  subprojects/templates/settings.gradle
Due: publish (JBake Templates), publish (docs nightly)

Redesign a bit the sample processing to allow more customization
  gradle.properties
  gradle/plugins/docs-gradle-plugin/settings.gradle
  gradle/plugins/docs-gradle-plugin/src/functionalTest/groovy/dev/nokee/docs/AbstractDocumentationFunctionalSpec.groovy
  gradle/plugins/docs-gradle-plugin/src/functionalTest/groovy/dev/nokee/docs/DocumentationPluginFixture.groovy
  gradle/plugins/docs-gradle-plugin/src/functionalTest/groovy/dev/nokee/docs/DocumentationPublishingFunctionalTest.groovy
  gradle/plugins/docs-gradle-plugin/src/functionalTest/groovy/dev/nokee/docs/DocumentationTaskNames.groovy
  gradle/plugins/docs-gradle-plugin/src/functionalTest/groovy/dev/nokee/docs/SampleFunctionalTest.groovy
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/DefaultSourceSet.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/DocumentationExtension.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/DocumentationPlugin.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/Dsl.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/GeneratedSourceSet.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/LanguageTransform.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/PluginManagementBlock.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/Sample.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/SourceSet.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/SourceSetFactory.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/tasks/AsciicastCompile.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/tasks/CreateAsciinema.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/tasks/CreateEmbeddedPlayer.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/tasks/DotCompile.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/tasks/ExtractScreenshot.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/tasks/GenerateAdoc.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/tasks/GenerateSampleContent.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/tasks/GenerateSamplesContentTask.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/tasks/GifCompile.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/tasks/ProcessAsciidoctor.java
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/tasks/StageSample.java
  settings.gradle
  subprojects/docs/docs.gradle
  subprojects/templates/settings.gradle
Due: publish (JBake Templates), publish (docs nightly)

Introduce Gradle Plugin Development section
  subprojects/docs/src/jbake/templates/sample_index.gsp
Due: publish (JBake Templates), publish (docs nightly)

Update toolbox to latest version
  build.gradle
  gradle.properties
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
  subprojects/docs/src/docs/manual/gradle-plugin-development-plugin.adoc
  subprojects/docs/src/docs/manual/gradle-plugin-functional-test-plugin.adoc
  subprojects/docs/src/docs/manual/gradle-plugin-unit-test-plugin.adoc
  subprojects/docs/src/docs/manual/groovy-gradle-plugin-plugin.adoc
  subprojects/docs/src/docs/manual/java-gradle-plugin-plugin.adoc
  subprojects/docs/src/docs/samples/gradle-plugin-development-runtime-compatibilities/groovy-dsl/settings.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-runtime-compatibilities/kotlin-dsl/settings.gradle.kts
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-minimum-gradle-version/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-minimum-gradle-version/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-test-suites/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-test-suites/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-testing-strategies/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-testing-strategies/kotlin-dsl/build.gradle.kts
  subprojects/templates/settings.gradle
Due: publish (JBake Templates), publish (docs nightly)

Add missing dependency
  subprojects/ide-xcode/ide-xcode.gradle
Due: none

Account for compileSwift task when generating Xcode IDE
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/XcodeIdeSwiftComponentPluginFunctionalTest.groovy
Due: none

Path conditions:
  publish (JBake Templates): any of: .gitlab-ci.yml, subprojects/docs/src/jbake/**/*, subprojects/docs/docs.gradle, gradle/plugins/docs-gradle-plugin/**/*
  publish (docs nightly): any of: .gitlab-ci.yml, subprojects/docs/**/*, subprojects/docs/docs.gradle, gradle/plugins/docs-gradle-plugin/**/*
