Repository nokeedev/gradle-native: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish (JBake Templates), publish (docs nightly)

.gitlab-ci.yml:

image: nokeedev/gcc-builder

build:
  stage: build
  script: ./gradlew assemble -PskipAllAsciinemaTasks --scan --continue
  artifacts:
    when: on_failure
    paths:
      - subprojects/docs/build/

test (macos):
  stage: test
  # FIXME: Shouldn't need to ignore the Asciinema tasks, they should just not be wired in for testing
  script: ./gradlew check --scan --continue -x :docs:compileDocsDot -PskipAllAsciinemaTasks -x :docs:compileDocsAsciicast
  variables:
    LANG: en_CA.UTF-8
  tags:
    - os=macos
  artifacts:
    when: on_failure
    paths:
      - subprojects/platform-jni/build
      - subprojects/docs/build

test (linux):
  stage: test
  # FIXME: Shouldn't need to ignore the Asciinema tasks, they should just not be wired in for testing
  script: ./gradlew check --scan --continue -x :docs:compileDocsDot -PskipAllAsciinemaTasks -x :docs:compileDocsAsciicast
  tags:
    - os=linux
  artifacts:
    when: on_failure
    paths:
      - subprojects/platform-jni/build
      - subprojects/docs/build

test (windows):
  stage: test
  # FIXME: Shouldn't need to ignore the Asciinema tasks, they should just not be wired in for testing
  script: cmd.exe /c "gradlew.bat check --scan --continue -x :docs:compileDocsDot -PskipAllAsciinemaTasks -x :docs:compileDocsAsciicast"
  tags:
    - os=windows
  variables:
    GIT_CLONE_PATH: $CI_BUILDS_DIR/gn
  artifacts:
    when: on_failure
    paths:
      - subprojects/platform-jni/build
      - subprojects/docs/build

deploy:
  stage: deploy
  script: ./gradlew --scan :distributions:publishToBintray
  only:
    - master


publish (JBake Templates):
  stage: build
  script:
    - ./gradlew --scan :docs:publishJbakePublicationToS3Repository
    - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/17545900/trigger/pipeline # docs.nokee.dev
    - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/16537594/trigger/pipeline # nokeedev.gitlab.io
  only:
    changes:
      - .gitlab-ci.yml
      - subprojects/docs/src/jbake/**/*
      - subprojects/docs/docs.gradle
      - gradle/plugins/docs-gradle-plugin/**/*
    refs:
      - master
  artifacts:
    when: on_failure
    paths:
      - subprojects/docs/build/**/*

publish (docs nightly):
  stage: build
  script:
    - ./gradlew --scan :docs:publishBakedPublicationToS3Repository
    - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/16537594/trigger/pipeline # nokeedev.gitlab.io
  only:
    changes:
      - .gitlab-ci.yml
      - subprojects/docs/**/*
      - subprojects/docs/docs.gradle
      - gradle/plugins/docs-gradle-plugin/**/*
    refs:
      - master
  artifacts:
    when: on_failure
    paths:
      - subprojects/docs/build/**/*

Ignore github.com host as a wide net catch for line highlighting
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/BrokenLinksTest.groovy
Due: publish (docs nightly)

Blacklist github.com
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/BrokenLinksTest.groovy
Due: publish (docs nightly)

Check disallow list in resource with anchors
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlLinkTester.java
Due: publish (JBake Templates), publish (docs nightly)

Fix CI failures
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/XcodeIdeWorkspaceFunctionalTest.groovy
Due: none

Strongly assert the version will be the same format on each machines
  TODOS
  build.gradle
Due: none

Use absolute link in documentation to resource
  subprojects/docs/src/jbake/templates/fragment-docs-footer.gsp
  subprojects/docs/src/jbake/templates/fragment-docs-header.gsp
  subprojects/docs/src/jbake/templates/fragment-gdpr-banner.gsp
  subprojects/docs/src/jbake/templates/fragment-header-generic.gsp
  subprojects/docs/src/jbake/templates/sample_chapter.gsp
Due: publish (JBake Templates), publish (docs nightly)

Force 8 char for the short version value
  build.gradle
Due: none

Use the right Slack invite link
  README.adoc
Due: none

Update to toolbox 1.1
  gradle.properties
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
  subprojects/docs/src/docs/manual/gradle-plugin-development-plugin.adoc
  subprojects/docs/src/docs/manual/gradle-plugin-functional-test-plugin.adoc
  subprojects/docs/src/docs/manual/gradle-plugin-unit-test-plugin.adoc
  subprojects/docs/src/docs/manual/groovy-gradle-plugin-plugin.adoc
  subprojects/docs/src/docs/manual/java-gradle-plugin-plugin.adoc
  subprojects/docs/src/docs/samples/gradle-plugin-development-runtime-compatibilities/groovy-dsl/settings.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-runtime-compatibilities/kotlin-dsl/settings.gradle.kts
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-minimum-gradle-version/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-minimum-gradle-version/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-test-suites/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-test-suites/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-testing-strategies/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/gradle-plugin-development-with-testing-strategies/kotlin-dsl/build.gradle.kts
  subprojects/templates/settings.gradle
Due: publish (JBake Templates), publish (docs nightly)

Use Nokee plugins instead of core plugins
  subprojects/docs/src/docs/samples/jni-library-composing-from-source/groovy-dsl/cpp-greeter/build.gradle
  subprojects/docs/src/docs/samples/jni-library-composing-from-source/groovy-dsl/cpp-jni-greeter/build.gradle
  subprojects/docs/src/docs/samples/jni-library-composing-from-source/kotlin-dsl/cpp-greeter/build.gradle.kts
  subprojects/docs/src/docs/samples/jni-library-composing-from-source/kotlin-dsl/cpp-jni-greeter/build.gradle.kts
Due: publish (docs nightly)

Add test to match sample applied plugins with sample source files
  subprojects/docs/docs.gradle
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/gradledev/GradlePluginDevelopmentWithTestSuitesSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/gradledev/GradlePluginDevelopmentWithTestingStrategiesSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/jni/JniLibraryComposingFromPrebuiltBinariesSampleTest.groovy
Due: publish (JBake Templates), publish (docs nightly)

Avoid "convenience" methods
  subprojects/docs/src/docs/samples/kotlin-cpp-jni-library/kotlin-dsl/build.gradle.kts
Due: publish (docs nightly)

Use correct Kotlin extension
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/KotlinJniCppGreeterLib.groovy
Due: none

Use TaskView of SourceCompile instead of Task for native binary
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/ExecutableBinary.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/NativeBinary.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/SharedLibraryBinary.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/BaseNativeBinary.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
Due: none

Use toolbox version for toolbox sample
  subprojects/docs/docs.gradle
Due: publish (JBake Templates), publish (docs nightly)

Revert change to Nokee plugins as we don't yet support linkage
  subprojects/docs/src/docs/samples/jni-library-composing-from-source/groovy-dsl/cpp-greeter/build.gradle
  subprojects/docs/src/docs/samples/jni-library-composing-from-source/groovy-dsl/cpp-jni-greeter/build.gradle
  subprojects/docs/src/docs/samples/jni-library-composing-from-source/kotlin-dsl/cpp-greeter/build.gradle.kts
  subprojects/docs/src/docs/samples/jni-library-composing-from-source/kotlin-dsl/cpp-jni-greeter/build.gradle.kts
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish (docs nightly)

Add documentation index template aware
  subprojects/docs/src/jbake/templates/fragment-meta-generic.gsp
Due: publish (JBake Templates), publish (docs nightly)

Fix Kotlin/C++ sample
  subprojects/docs/src/docs/samples/kotlin-cpp-jni-library/README.adoc
Due: publish (docs nightly)

Remove unnecessary task
  TODOS
Due: none

Add more DSL documentation
  subprojects/docs/src/docs/dsl/dev.nokee.language.base.tasks.SourceCompile.json
  subprojects/docs/src/docs/dsl/dev.nokee.platform.nativebase.BundleBinary.json
  subprojects/docs/src/docs/dsl/dev.nokee.platform.nativebase.ExecutableBinary.json
  subprojects/docs/src/docs/dsl/dev.nokee.platform.nativebase.NativeBinary.json
  subprojects/docs/src/docs/dsl/dev.nokee.platform.nativebase.NativeLibrary.json
  subprojects/docs/src/docs/dsl/dev.nokee.platform.nativebase.tasks.LinkBundle.json
Due: publish (docs nightly)

Minor fix to the release notes for 0.4 release
  subprojects/docs/src/docs/release-notes.adoc
Due: publish (docs nightly)

Use exact type instead of wildcard
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/BundleBinary.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/ExecutableBinary.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/SharedLibraryBinary.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/StaticLibraryBinary.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/BundleBinaryInternal.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/ExecutableBinaryInternal.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
Due: none

Use documentation plugin for Javadoc
  build.gradle
  settings.gradle
  subprojects/distributions/distributions.gradle
Due: none

Fix condition
  settings.gradle
Due: none

Update version to 0.4.0
  README.adoc
Due: none

Fix broken documentation
  subprojects/docs/src/docs/manual/c-application-plugin.adoc
  subprojects/docs/src/docs/manual/c-library-plugin.adoc
  subprojects/docs/src/docs/manual/cpp-application-plugin.adoc
  subprojects/docs/src/docs/manual/cpp-library-plugin.adoc
  subprojects/docs/src/docs/manual/objective-c-application-plugin.adoc
  subprojects/docs/src/docs/manual/objective-c-library-plugin.adoc
  subprojects/docs/src/docs/manual/objective-cpp-application-plugin.adoc
  subprojects/docs/src/docs/manual/objective-cpp-library-plugin.adoc
  subprojects/docs/src/docs/manual/swift-application-plugin.adoc
  subprojects/docs/src/docs/manual/swift-library-plugin.adoc
Due: publish (docs nightly)

Introduce generic Ide project and workspace
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/IdeProject.java
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/IdeWorkspace.java
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/plugins/AbstractIdePlugin.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/DefaultXcodeIdeProject.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/DefaultXcodeIdeWorkspace.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdePlugin.java
Due: none

Allow for the IDE project/workspace to be more generic
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/IdeProject.java
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/IdeWorkspace.java
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/BaseIdeProjectMetadata.java
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/IdeProject.java
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/IdeProjectExtension.java
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/IdeProjectInternal.java
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/IdeWorkspaceExtension.java
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/IdeWorkspaceInternal.java
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/plugins/AbstractIdePlugin.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/XcodeIdeProject.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/XcodeIdeWorkspace.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/DefaultXcodeIdeProject.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/DefaultXcodeIdeProjectExtension.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/DefaultXcodeIdeWorkspace.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/DefaultXcodeIdeWorkspaceExtension.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/XcodeIdeProjectMetadata.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdePlugin.java
Due: none

Move additional build argument getter to base IDE plugin
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/plugins/AbstractIdePlugin.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdePlugin.java
Due: none

Make base IDE type generic to better express intent
  subprojects/ide-base/ide-base.gradle
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/IdeWorkspace.java
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/IdeProjectExtension.java
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/IdeProjectInternal.java
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/IdeWorkspaceExtension.java
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/IdeWorkspaceInternal.java
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/plugins/AbstractIdePlugin.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/XcodeIdeWorkspace.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/DefaultXcodeIdeProjectExtension.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/DefaultXcodeIdeWorkspace.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/DefaultXcodeIdeWorkspaceExtension.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdePlugin.java
Due: none

Move lifecycle task creation to base IDE plugin
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/plugins/AbstractIdePlugin.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdePlugin.java
Due: none

First implementation of the Visual Studio IDE support
  settings.gradle
  subprojects/ide-visual-studio/ide-visual-studio.gradle
  subprojects/ide-visual-studio/src/functionalTest/groovy/dev/nokee/ide/visualstudio/AbstractVisualStudioIdeNativeComponentPluginFunctionalTest.groovy
  subprojects/ide-visual-studio/src/functionalTest/groovy/dev/nokee/ide/visualstudio/AbstractXcodeIdeFunctionalSpec.groovy
  subprojects/ide-visual-studio/src/functionalTest/groovy/dev/nokee/ide/visualstudio/VisualStudioIdeCppComponentFunctionalTest.groovy
  subprojects/ide-visual-studio/src/main/java/dev/nokee/ide/visualstudio/VisualStudioIdeConfiguration.java
  subprojects/ide-visual-studio/src/main/java/dev/nokee/ide/visualstudio/VisualStudioIdePlatform.java
  subprojects/ide-visual-studio/src/main/java/dev/nokee/ide/visualstudio/VisualStudioIdePlatforms.java
  subprojects/ide-visual-studio/src/main/java/dev/nokee/ide/visualstudio/VisualStudioIdeProject.java
  subprojects/ide-visual-studio/src/main/java/dev/nokee/ide/visualstudio/VisualStudioIdeProjectConfiguration.java
  subprojects/ide-visual-studio/src/main/java/dev/nokee/ide/visualstudio/VisualStudioIdeProjectExtension.java
  subprojects/ide-visual-studio/src/main/java/dev/nokee/ide/visualstudio/VisualStudioIdeSolution.java
  subprojects/ide-visual-studio/src/main/java/dev/nokee/ide/visualstudio/VisualStudioIdeWorkspaceExtension.java
  subprojects/ide-visual-studio/src/main/java/dev/nokee/ide/visualstudio/internal/DefaultVisualStudioIdeProject.java
  subprojects/ide-visual-studio/src/main/java/dev/nokee/ide/visualstudio/internal/DefaultVisualStudioIdeProjectExtension.java
  subprojects/ide-visual-studio/src/main/java/dev/nokee/ide/visualstudio/internal/DefaultVisualStudioIdeSolution.java
  subprojects/ide-visual-studio/src/main/java/dev/nokee/ide/visualstudio/internal/DefaultVisualStudioIdeWorkspaceExtension.java
  subprojects/ide-visual-studio/src/main/java/dev/nokee/ide/visualstudio/internal/VisualStudioIdeProjectInformation.java
  subprojects/ide-visual-studio/src/main/java/dev/nokee/ide/visualstudio/internal/VisualStudioIdeProjectMetadata.java
  subprojects/ide-visual-studio/src/main/java/dev/nokee/ide/visualstudio/internal/plugins/VisualStudioIdePlugin.java
  subprojects/ide-visual-studio/src/main/java/dev/nokee/ide/visualstudio/internal/tasks/GenerateVisualStudioIdeProjectTask.java
  subprojects/ide-visual-studio/src/main/java/dev/nokee/ide/visualstudio/internal/tasks/GenerateVisualStudioIdeSolutionTask.java
  subprojects/ide-visual-studio/src/main/java/dev/nokee/ide/visualstudio/internal/vcxproj/VcxprojSerializer.java
  subprojects/ide-visual-studio/src/main/java/dev/nokee/ide/visualstudio/package-info.java
Due: none

Move build files getter to base IDE plugin
  subprojects/ide-base/ide-base.gradle
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/plugins/AbstractIdePlugin.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdePlugin.java
Due: none

Add lifecycle task name to abstract IDE plugin
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/plugins/AbstractIdePlugin.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdePlugin.java
Due: none

Move more configuration rule to base IDE plugin
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/IdeWorkspaceExtension.java
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/plugins/AbstractIdePlugin.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdePlugin.java
Due: none

Move more rules to base IDE plugin
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/plugins/AbstractIdePlugin.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdePlugin.java
Due: none

Move Gradle command generation to base IDE plugin
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/plugins/AbstractIdePlugin.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdePlugin.java
Due: none

Move clean task creation to base IDE plugin
  subprojects/ide-base/ide-base.gradle
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/plugins/AbstractIdePlugin.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdePlugin.java
Due: none

Introduce IDE base plugin
  settings.gradle
  subprojects/ide-base/ide-base.gradle
  subprojects/ide-base/src/main/java/dev/nokee/ide/base/internal/plugins/AbstractIdePlugin.java
  subprojects/ide-xcode/ide-xcode.gradle
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdePlugin.java
Due: none
