Repository nokeedev/gradle-native: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish (JBake Templates), publish (docs nightly)

publish (JBake Templates):
  stage: build
  script:
  - ./gradlew --scan :docs:publishJbakePublicationToS3Repository
  - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/17545900/trigger/pipeline
  ...

publish (docs nightly):
  stage: build
  script:
  - ./gradlew --scan :docs:publishBakedPublicationToS3Repository
  - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/16537594/trigger/pipeline
  artifacts:
    when: on_failure
    paths:
    - subprojects/docs/build/**/*

Adjust test regarding renaming indexer Xcode target prefix
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/IosApplicationXcodeFunctionalTest.groovy
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/JniLibraryComposingXcodeFunctionalTest.groovy
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/XcodeIdeIndexerTargetsFunctionalTest.groovy
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/tasks/GenerateXcodeIdeProjectTask.java
Due: none

Copy images from sample and manual to baked folder
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/DocumentationPlugin.java
Due: publish (JBake Templates), publish (docs nightly)

Include more definition in terminology
  subprojects/docs/src/docs/manual/terminology.adoc
Due: publish (docs nightly)

Author the release note for 0.3
  subprojects/docs/src/docs/release-notes.adoc
Due: publish (docs nightly)

Draft/author the plugin anatomy chapter
  subprojects/docs/src/docs/manual/img/plugin-anatomy-plugin-concept.dot
  subprojects/docs/src/docs/manual/img/plugin-anatomy-plugin-identification-triplet.dot
  subprojects/docs/src/docs/manual/plugin-anatomy.adoc
Due: publish (docs nightly)

Update logo and color scheme
  subprojects/docs/src/jbake/assets/android-chrome-192x192.png
  subprojects/docs/src/jbake/assets/android-chrome-512x512.png
  subprojects/docs/src/jbake/assets/apple-touch-icon.png
  subprojects/docs/src/jbake/assets/css/colorscheme-dark.css
  subprojects/docs/src/jbake/assets/css/colorscheme-light.css
  subprojects/docs/src/jbake/assets/css/docs-asciidoctor-color-override.css
  subprojects/docs/src/jbake/assets/css/docs-asciidoctor-docs-layout.css
  subprojects/docs/src/jbake/assets/css/docs-asciidoctor-override.css
  subprojects/docs/src/jbake/assets/css/docs-base.css
  subprojects/docs/src/jbake/assets/css/menu.css
  subprojects/docs/src/jbake/assets/css/multi-language-sample.css
  subprojects/docs/src/jbake/assets/favicon-16x16.png
  subprojects/docs/src/jbake/assets/favicon-32x32.png
  subprojects/docs/src/jbake/assets/favicon.ico
  subprojects/docs/src/jbake/assets/mstile-150x150.png
  subprojects/docs/src/jbake/assets/safari-pinned-tab.svg
  subprojects/docs/src/jbake/assets/site.webmanifest
  subprojects/docs/src/jbake/templates/fragment-header-generic.gsp
  subprojects/docs/src/jbake/templates/fragment-menu.gsp
Due: publish (JBake Templates), publish (docs nightly)

Remove HREF decoding
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlLinkTester.java
Due: publish (JBake Templates), publish (docs nightly)

WIP
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryDependenciesInternal.java
Due: none

Ensure support for JNI library implemented in Kotlin
  subprojects/docs/docs.gradle
  subprojects/docs/src/docs/release-notes.adoc
  subprojects/docs/src/docs/samples/kotlin-cpp-jni-library/README.adoc
  subprojects/docs/src/docs/samples/kotlin-cpp-jni-library/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/kotlin-cpp-jni-library/groovy-dsl/settings.gradle
  subprojects/docs/src/docs/samples/kotlin-cpp-jni-library/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/kotlin-cpp-jni-library/kotlin-dsl/settings.gradle.kts
  subprojects/docs/src/docsTest/antlr/Jar.g4
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/KotlinCppJniLibrarySampleTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractJavaJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractJavaJniLibraryWithJUnitTestingFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaCJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaCppJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCppJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/KotlinCppJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/KotlinCppJniLibraryWithJUnitTestingFunctionalTest.groovy
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniCppGreeterLib.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/KotlinJniCppGreeterLib.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/elements/CppGreeter.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/elements/CppGreeterJniBinding.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/elements/JavaGreeterJUnitTest.groovy
Due: publish (JBake Templates), publish (docs nightly)

Publish new templates earlier in the build pipeline
  .gitlab-ci.yml
Due: publish (JBake Templates), publish (docs nightly)

Ensure duplicated output are not declare on compileJava for Gradle >= 6.3
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: none

Organize imports
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaCppJniLibraryFunctionalTest.groovy
Due: none

Enable test coverage for all latest nighlty and latest global available
  build.gradle
Due: none

Add support for build setting array value
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/tasks/GenerateXcodeIdeProjectTask.java
Due: none

Add missing configuration for the Xcode indexer
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdeObjectiveCIosApplicationPlugin.java
Due: none

Fix typo in path causing bad CSS
  subprojects/docs/src/jbake/templates/fragment-docs-navigation.gsp
  subprojects/docs/src/jbake/templates/fragment-dsl-navigation.gsp
Due: publish (JBake Templates), publish (docs nightly)

Author the final building JNI projects chapter
  subprojects/docs/src/docs/manual/building-jni-projects.adoc
  subprojects/docs/src/docs/manual/developing-with-xcode-ide.adoc
  subprojects/docs/src/docs/manual/img/building-jni-projects-binary-class-diagram.dot
  subprojects/docs/src/docs/manual/plugin-anatomy.adoc
  subprojects/docs/src/docs/manual/plugin-references.adoc
  subprojects/docs/src/docs/manual/user-manual.adoc
  subprojects/docs/src/docs/manual/xcode-ide-plugin.adoc
  subprojects/docs/src/docs/release-notes.adoc
  subprojects/docs/src/jbake/templates/sample_index.gsp
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
Due: publish (JBake Templates), publish (docs nightly)

Add what's next and help improve section to manual chapters
  subprojects/docs/src/docs/manual/developing-with-xcode-ide.adoc
  subprojects/docs/src/docs/manual/plugin-anatomy.adoc
Due: publish (docs nightly)

Add anchor names
  subprojects/docs/src/docs/manual/plugin-anatomy.adoc
Due: publish (docs nightly)

Add early XCTest support for iOS
  settings.gradle
  subprojects/distributions/distributions.gradle
  subprojects/docs/docs.gradle
  subprojects/docs/src/docs/samples/objective-c-ios-application/README.adoc
  subprojects/docs/src/docs/samples/objective-c-ios-xctest-test-suite/README.adoc
  subprojects/docs/src/docs/samples/objective-c-ios-xctest-test-suite/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/objective-c-ios-xctest-test-suite/groovy-dsl/settings.gradle
  subprojects/docs/src/docs/samples/objective-c-ios-xctest-test-suite/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/objective-c-ios-xctest-test-suite/kotlin-dsl/settings.gradle.kts
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/ios/ObjectiveCIosXCTestTestSuiteSampleTest.groovy
  subprojects/ide-xcode/ide-xcode.gradle
  subprojects/ide-xcode/src/functionalTest/groovy/dev/nokee/ide/xcode/XcodeIdeIndexerTargetsFunctionalTest.groovy
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdeObjectiveCIosApplicationPlugin.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/plugins/XcodeIdePlugin.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/tasks/GenerateXcodeIdeProjectTask.java
  subprojects/ide-xcode/src/main/java/dev/nokee/ide/xcode/internal/tasks/SyncXcodeIdeProduct.java
  subprojects/ide-xcode/src/test/groovy/dev/nokee/ide/xcode/internal/plugins/XcodeIdeRequestTest.groovy
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/internal/plugins/IosApplicationRules.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/internal/plugins/ObjectiveCIosApplicationPlugin.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/tasks/internal/CreateIosApplicationBundleTask.java
  subprojects/templates/src/main/groovy/dev/nokee/platform/ios/fixtures/ObjectiveCIosApp.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/ios/fixtures/ObjectiveCIosUiXCTest.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/ios/fixtures/ObjectiveCIosUnitXCTest.groovy
  subprojects/testing-xctest/src/main/java/dev/nokee/testing/xctest/internal/plugins/ObjectiveCXCTestTestSuitePlugin.java
  subprojects/testing-xctest/src/main/java/dev/nokee/testing/xctest/internal/plugins/XCTestRules.java
  subprojects/testing-xctest/src/main/java/dev/nokee/testing/xctest/tasks/internal/CreateIosXCTestBundleTask.java
  subprojects/testing-xctest/testing-xctest.gradle
Due: publish (JBake Templates), publish (docs nightly)

Update sample tag line
  gradle/plugins/docs-gradle-plugin/src/main/groovy/dev/nokee/docs/tasks/CreateAsciinema.java
Due: publish (JBake Templates), publish (docs nightly)

Add documentation stub for the Objective-C XCTest plugin
  subprojects/docs/src/docs/manual/objective-c-xctest-test-suite-plugin.adoc
Due: publish (docs nightly)

Move nightly deploy to earlier stage
  .gitlab-ci.yml
Due: publish (JBake Templates), publish (docs nightly)

Fix CI failures
  subprojects/testing-xctest/testing-xctest.gradle
Due: none

Ignore XCTest plugin on non-macOS system
  subprojects/testing-xctest/src/main/java/dev/nokee/testing/xctest/internal/plugins/ObjectiveCXCTestTestSuitePlugin.java
  subprojects/testing-xctest/testing-xctest.gradle
Due: none

Prevent failures on non-macOS system
  subprojects/testing-xctest/src/main/java/dev/nokee/testing/xctest/internal/plugins/ObjectiveCXCTestTestSuitePlugin.java
  subprojects/testing-xctest/src/main/java/dev/nokee/testing/xctest/internal/plugins/XCTestRules.java
Due: none

Author the XCTest reference chapter
  subprojects/docs/src/docs/manual/objective-c-xctest-test-suite-plugin.adoc
Due: publish (docs nightly)

Update the sample app to theme it around Nokee
  subprojects/templates/src/main/groovy/dev/nokee/platform/ios/fixtures/ObjectiveCIosApp.groovy
  subprojects/templates/src/main/resources/dev/nokee/platform/ios/fixtures/full-green.pdf
Due: none

Finish the plugin anatomy chapter
  subprojects/docs/src/docs/manual/plugin-anatomy.adoc
Due: publish (docs nightly)

Mention XCTest in release note
  subprojects/docs/src/docs/release-notes.adoc
Due: publish (docs nightly)

Deactive the configuration of iOS compile task
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/BasicIosApplicationFunctionalTest.groovy
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/internal/plugins/IosApplicationRules.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/internal/plugins/ObjectiveCIosApplicationPlugin.java
Due: none

Fix publishing of the attributes for Plugin portal
  subprojects/distributions/distributions.gradle
Due: none

Fix DSL documentation template for release
  subprojects/docs/src/jbake/templates/fragment-dsl-navigation.gsp
Due: publish (JBake Templates), publish (docs nightly)

Fix typo in DSL documentation paths
  subprojects/docs/src/jbake/templates/fragment-dsl-navigation.gsp
Due: publish (JBake Templates), publish (docs nightly)

Third time is the charm
  subprojects/docs/src/jbake/templates/fragment-dsl-navigation.gsp
Due: publish (JBake Templates), publish (docs nightly)

Fix CI failures related to the change around CommandLineTool usage
  subprojects/core-exec/src/main/java/dev/nokee/core/exec/CommandLineTool.java
  subprojects/core-exec/src/main/java/dev/nokee/core/exec/internal/PathAwareCommandLineTool.java
  subprojects/core-exec/src/main/java/dev/nokee/core/exec/internal/SystemCommandLineTool.java
  subprojects/core-exec/src/main/java/dev/nokee/core/exec/internal/VersionedCommandLineTool.java
  subprojects/platform-ios/platform-ios.gradle
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/tasks/StoryboardCompileWellBehavingTaskTest.groovy
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/tasks/WellBehavingTaskTest.groovy
Due: none

Refactor the handler of the embedded server
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/ContentHashingHandler.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/ContextAwareHandler.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/FrameworkHandler.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/FrameworkResolver.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/Handler.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/JettyEmbeddedHttpServer.java
Due: none

Support for dynamic range version for framework
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/repositories/ConsumingFrameworkFunctionalTest.groovy
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/ContentHashingHandler.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/ContextAwareHandler.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/FrameworkHandler.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/GradleModuleMetadata.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/Handler.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/JettyEmbeddedHttpServer.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/ListingResponse.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/Response.java
  subprojects/platform-native/src/main/java/dev/nokee/platform/nativebase/internal/repositories/StringResponse.java
Due: none

Path conditions:
  publish (JBake Templates): any of: .gitlab-ci.yml, subprojects/docs/src/jbake/**/*, subprojects/docs/docs.gradle, gradle/plugins/docs-gradle-plugin/**/*
  publish (docs nightly): any of: .gitlab-ci.yml, subprojects/docs/**/*, subprojects/docs/docs.gradle, gradle/plugins/docs-gradle-plugin/**/*
